@font-face {
  font-family: 'din-light';
  src: url("../fonts/Din/Light/din-light.eot");
  src: url("../fonts/Din/Light/din-light.eot?#iefix") format("embedded-opentype"), url("../fonts/Din/Light/din-light.woff") format("woff"), url("../fonts/Din/Light/din-light.ttf") format("truetype"), url("../fonts/Din/Light/din-light.svg#din-light") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: 'din-regular';
  src: url("../fonts/Din/Regular/din-regular.eot");
  src: url("../fonts/Din/Regular/din-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Din/Regular/din-regular.woff") format("woff"), url("../fonts/Din/Regular/din-regular.ttf") format("truetype"), url("../fonts/Din/Regular/din-regular.svg#din-regular") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: 'din-medium';
  src: url("../fonts/Din/Medium/din-medium.eot");
  src: url("../fonts/Din/Medium/din-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Din/Medium/din-medium.woff") format("woff"), url("../fonts/Din/Medium/din-medium.ttf") format("truetype"), url("../fonts/Din/Medium/din-medium.svg#din-medium") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: 'din-bold';
  src: url("../fonts/Din/Bold/din-bold.eot");
  src: url("../fonts/Din/Bold/din-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Din/Bold/din-bold.woff") format("woff"), url("../fonts/Din/Bold/din-bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'din-black';
  src: url("../fonts/Din/Black/din-black.eot");
  src: url("../fonts/Din/Black/din-black.eot?#iefix") format("embedded-opentype"), url("../fonts/Din/Black/din-black.woff") format("woff"), url("../fonts/Din/Black/din-black.ttf") format("truetype"), url("../fonts/Din/Black/din-black.svg#din-medium") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/Open Sans/Light/OpenSans-Light.eot");
  src: url("../fonts/Open Sans/Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Light/OpenSans-Light.woff") format("woff"), url("../fonts/Open Sans/Light/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Light Italic';
  src: url("../fonts/Open Sans/LightItalic/OpenSans-LightItalic.eot");
  src: url("../fonts/Open Sans/LightItalic/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/LightItalic/OpenSans-LightItalic.woff") format("woff"), url("../fonts/Open Sans/LightItalic/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/Open Sans/Regular/OpenSans-Regular.eot");
  src: url("../fonts/Open Sans/Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Regular/OpenSans-Regular.woff") format("woff"), url("../fonts/Open Sans/Regular/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Italic';
  src: url("../fonts/Open Sans/Italic/OpenSans-Italic.eot");
  src: url("../fonts/Open Sans/Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Italic/OpenSans-Italic.woff") format("woff"), url("../fonts/Open Sans/Italic/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/Open Sans/Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Semibold/OpenSans-Semibold.woff") format("woff"), url("../fonts/Open Sans/Semibold/OpenSans-Semibold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Semibold Italic';
  src: url("../fonts/Open Sans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/SemiboldItalic/OpenSans-SemiboldItalic.woff") format("woff"), url("../fonts/Open Sans/SemiboldItalic/OpenSans-SemiboldItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/Open Sans/Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Bold/OpenSans-Bold.woff") format("woff"), url("../fonts/Open Sans/Bold/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Bold Italic';
  src: url("../fonts/Open Sans/BoldItalic/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/BoldItalic/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/Open Sans/BoldItalic/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Extrabold';
  src: url("../fonts/Open Sans/ExtraBold/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/ExtraBold/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/Open Sans/ExtraBold/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Extrabold Italic';
  src: url("../fonts/Open Sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/Open Sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: normal;
}
/* line 5, sass/style-val-necesidad.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 10, sass/style-val-necesidad.scss */
.content {
  display: inline-block;
  font-family: 'Open Sans Regular';
  min-height: 560px;
  margin: 0;
  padding: 10px 20px 20px;
  border: 1px solid #CCC;
  overflow-x: hidden;
}
/* line 19, sass/style-val-necesidad.scss */
.content .header {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}
/* line 25, sass/style-val-necesidad.scss */
.content .header img {
  display: inline-block;
}
/* line 29, sass/style-val-necesidad.scss */
.content .header h3 {
  display: inline-block;
  font-weight: lighter;
  color: #666;
  position: relative;
  top: 2px;
  margin: 0 10px;
  padding-left: 10px;
  border-left: 1px solid #666;
}
/* line 39, sass/style-val-necesidad.scss */
.content .header h3 span {
  font-family: 'Open Sans Bold';
}
/* line 46, sass/style-val-necesidad.scss */
.content .alert {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #666666;
  margin: 30px 0 10px;
  padding: 15px;
  border-radius: 0;
  line-height: 1.3;
}
/* line 56, sass/style-val-necesidad.scss */
.content .alert button {
  text-shadow: none;
  opacity: 1;
}
/* line 61, sass/style-val-necesidad.scss */
.content .alert p {
  color: #666666;
  margin-top: 0;
}
/* line 65, sass/style-val-necesidad.scss */
.content .alert p strong {
  display: block;
  font-family: "Open Sans Bold";
}
/* line 72, sass/style-val-necesidad.scss */
.content .alert-primary {
  border: 1px solid #28B1CA;
  background-color: #93C3D0;
}
/* line 76, sass/style-val-necesidad.scss */
.content .alert-primary p {
  color: #444444;
}
/* line 80, sass/style-val-necesidad.scss */
.content .alert-primary button {
  color: #28B1CA;
}
/* line 83, sass/style-val-necesidad.scss */
.content .alert-primary button:hover {
  color: #28B1CA;
}
/* line 89, sass/style-val-necesidad.scss */
.content .alert-success {
  border: 1px solid #BFD518;
  background-color: #D1DD98;
}
/* line 93, sass/style-val-necesidad.scss */
.content .alert-success button {
  color: #BAC72A;
}
/* line 96, sass/style-val-necesidad.scss */
.content .alert-success button:hover {
  color: #BAC72A;
}
/* line 102, sass/style-val-necesidad.scss */
.content .alert-danger {
  border: 1px solid #A41A67;
  background-color: #D197A8;
}
/* line 106, sass/style-val-necesidad.scss */
.content .alert-danger p {
  color: #222222;
}
/* line 110, sass/style-val-necesidad.scss */
.content .alert-danger button {
  color: #A41A67;
}
/* line 113, sass/style-val-necesidad.scss */
.content .alert-danger button:hover {
  color: #A41A67;
}
/* line 119, sass/style-val-necesidad.scss */
.content .footer {
  text-align: center;
}
/* line 122, sass/style-val-necesidad.scss */
.content .footer h4 {
  font-size: 18px;
  color: #666666;
  font-family: 'din-bold';
  letter-spacing: 1px;
  display: inline-block;
  margin-right: 10px;
}
/* line 131, sass/style-val-necesidad.scss */
.content .footer p {
  color: #666666;
  display: inline-block;
  padding-left: 10px;
  border-left: 1px solid #EAEAEA;
}
