@font-face {
  font-family: 'din-light';
  src: url("../fonts/Din/Light/din-light.eot");
  src: url("../fonts/Din/Light/din-light.eot?#iefix") format("embedded-opentype"), url("../fonts/Din/Light/din-light.woff") format("woff"), url("../fonts/Din/Light/din-light.ttf") format("truetype"), url("../fonts/Din/Light/din-light.svg#din-light") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: 'din-regular';
  src: url("../fonts/Din/Regular/din-regular.eot");
  src: url("../fonts/Din/Regular/din-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Din/Regular/din-regular.woff") format("woff"), url("../fonts/Din/Regular/din-regular.ttf") format("truetype"), url("../fonts/Din/Regular/din-regular.svg#din-regular") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: 'din-medium';
  src: url("../fonts/Din/Medium/din-medium.eot");
  src: url("../fonts/Din/Medium/din-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Din/Medium/din-medium.woff") format("woff"), url("../fonts/Din/Medium/din-medium.ttf") format("truetype"), url("../fonts/Din/Medium/din-medium.svg#din-medium") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: 'din-bold';
  src: url("../fonts/Din/Bold/din-bold.eot");
  src: url("../fonts/Din/Bold/din-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Din/Bold/din-bold.woff") format("woff"), url("../fonts/Din/Bold/din-bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'din-black';
  src: url("../fonts/Din/Black/din-black.eot");
  src: url("../fonts/Din/Black/din-black.eot?#iefix") format("embedded-opentype"), url("../fonts/Din/Black/din-black.woff") format("woff"), url("../fonts/Din/Black/din-black.ttf") format("truetype"), url("../fonts/Din/Black/din-black.svg#din-medium") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/Open Sans/Light/OpenSans-Light.eot");
  src: url("../fonts/Open Sans/Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Light/OpenSans-Light.woff") format("woff"), url("../fonts/Open Sans/Light/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Light Italic';
  src: url("../fonts/Open Sans/LightItalic/OpenSans-LightItalic.eot");
  src: url("../fonts/Open Sans/LightItalic/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/LightItalic/OpenSans-LightItalic.woff") format("woff"), url("../fonts/Open Sans/LightItalic/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/Open Sans/Regular/OpenSans-Regular.eot");
  src: url("../fonts/Open Sans/Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Regular/OpenSans-Regular.woff") format("woff"), url("../fonts/Open Sans/Regular/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Italic';
  src: url("../fonts/Open Sans/Italic/OpenSans-Italic.eot");
  src: url("../fonts/Open Sans/Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Italic/OpenSans-Italic.woff") format("woff"), url("../fonts/Open Sans/Italic/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/Open Sans/Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Semibold/OpenSans-Semibold.woff") format("woff"), url("../fonts/Open Sans/Semibold/OpenSans-Semibold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Semibold Italic';
  src: url("../fonts/Open Sans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/SemiboldItalic/OpenSans-SemiboldItalic.woff") format("woff"), url("../fonts/Open Sans/SemiboldItalic/OpenSans-SemiboldItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/Open Sans/Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Bold/OpenSans-Bold.woff") format("woff"), url("../fonts/Open Sans/Bold/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Bold Italic';
  src: url("../fonts/Open Sans/BoldItalic/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/BoldItalic/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/Open Sans/BoldItalic/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Extrabold';
  src: url("../fonts/Open Sans/ExtraBold/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/ExtraBold/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/Open Sans/ExtraBold/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans Extrabold Italic';
  src: url("../fonts/Open Sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/Open Sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: normal;
}
/* line 5, sass/components.scss */
body {
  background-color: #EAEAEA !important;
  font-family: "Open Sans Regular";
}

/* line 11, sass/components.scss */
.margin-top-0 {
  margin-top: 0px;
}

/* line 15, sass/components.scss */
.margin-top-10 {
  margin-top: 10px;
}

/* line 19, sass/components.scss */
.margin-top-15 {
  margin-top: 15px;
}

/* line 23, sass/components.scss */
.margin-top-20 {
  margin-top: 20px;
}

/* line 27, sass/components.scss */
.margin-top-25 {
  margin-top: 25px;
}

/* line 31, sass/components.scss */
.margin-top-30 {
  margin-top: 30px;
}

/* line 35, sass/components.scss */
.margin-top-50 {
  margin-top: 50px;
}

/* line 40, sass/components.scss */
.margin-bottom-0 {
  margin-bottom: 0px;
}

/* line 44, sass/components.scss */
.margin-bottom-10 {
  margin-bottom: 10px;
}

/* line 48, sass/components.scss */
.margin-bottom-15 {
  margin-bottom: 15px;
}

/* line 52, sass/components.scss */
.margin-bottom-20 {
  margin-bottom: 20px;
}

/* line 56, sass/components.scss */
.margin-bottom-30 {
  margin-bottom: 30px;
}

/* line 60, sass/components.scss */
.margin-bottom-50 {
  margin-bottom: 50px;
}

/* line 65, sass/components.scss */
.padding-left-0 {
  padding-left: 0;
}

/* line 69, sass/components.scss */
.padding-right-0 {
  padding-right: 0;
}

/* line 74, sass/components.scss */
.card {
  margin-bottom: 30px;
  width: 100%;
}
/* line 78, sass/components.scss */
.card .card-header {
  margin-bottom: 10px;
}
/* line 82, sass/components.scss */
.card .card-header .card-title h3 {
  color: #005DB4;
  font-family: 'din-light';
  font-size: 20px;
}
/* line 91, sass/components.scss */
.card .card-body {
  display: inline-block;
  background-color: #FFFFFF;
  padding: 25px 20px 30px;
  margin-bottom: 30px;
  width: 100%;
}
/* line 98, sass/components.scss */
.card .card-body.transparent {
  background-color: transparent;
}
/* line 102, sass/components.scss */
.card .card-body p {
  color: #AAAAAA;
  margin-bottom: 15px;
}

/* line 110, sass/components.scss */
h1 {
  color: #666666;
  font-family: 'din-bold';
  font-size: 40px;
  margin: 15px 15px 30px;
}
/* line 116, sass/components.scss */
h1 span {
  font-family: 'din-light';
}

/* line 121, sass/components.scss */
h3 {
  color: #005DB4;
  font-family: 'din-light';
  font-size: 20px;
  margin-bottom: 10px;
}

/* line 128, sass/components.scss */
h4 {
  color: #51CDD6;
  font-family: 'Open Sans Bold';
  font-size: 16px;
  margin: 0 0 10px;
}

/* line 135, sass/components.scss */
h5 {
  color: #666666;
  font-family: 'Open Sans Semibold';
  font-size: 14px;
  margin: 20px 0 5px;
}

/* line 143, sass/components.scss */
p {
  font-size: 14px;
  display: inline-block;
}

/* line 150, sass/components.scss */
.btn {
  display: inline-block;
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Open Sans Regular';
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px 2px 20px;
  padding: 8px 32px;
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: transparent;
}
/* line 163, sass/components.scss */
.btn:active, .btn:focus, .btn:visited, .btn:hover {
  box-shadow: 0px !important;
  outline: 0px !important;
  border: 1px solid transparent !important;
}
/* line 172, sass/components.scss */
.btn.disabled {
  caret-color: #51CDD6;
}
/* line 175, sass/components.scss */
.btn.disabled:focus, .btn.disabled:hover {
  border: 1px solid transparent !important;
}

/* line 183, sass/components.scss */
.btn-primary {
  background-color: #51CDD6;
}
/* line 186, sass/components.scss */
.btn-primary.disabled {
  background-color: #93C3D0;
}
/* line 189, sass/components.scss */
.btn-primary.disabled:hover, .btn-primary.disabled:visited, .btn-primary.disabled:focus, .btn-primary.disabled:active {
  background-color: #93C3D0 !important;
}
/* line 197, sass/components.scss */
.btn-primary:focus, .btn-primary:active, .btn-primary:visited, .btn-primary:hover {
  background-color: #28B1CA !important;
}

/* line 206, sass/components.scss */
.btn-ghost-primary {
  border: 1px solid #28B1CA;
  color: #28B1CA;
}
/* line 210, sass/components.scss */
.btn-ghost-primary.disabled {
  background-color: transparent !important;
  border: 1px solid #93C3D0;
  color: #93C3D0;
}
/* line 215, sass/components.scss */
.btn-ghost-primary.disabled:hover, .btn-ghost-primary.disabled:visited, .btn-ghost-primary.disabled:focus, .btn-ghost-primary.disabled:active {
  background-color: transparent !important;
  border: 1px solid #93C3D0 !important;
  color: #93C3D0;
}
/* line 225, sass/components.scss */
.btn-ghost-primary:hover, .btn-ghost-primary:focus, .btn-ghost-primary:active {
  border: 1px solid transparent;
  background-color: #51CDD6 !important;
  color: white;
}
/* line 233, sass/components.scss */
.btn-ghost-primary:visited {
  border: 1px solid #28B1CA;
  color: #28B1CA;
}

/* line 240, sass/components.scss */
.btn-success {
  background-color: #BFD518;
}
/* line 243, sass/components.scss */
.btn-success.disabled {
  background-color: #D1DD98;
}
/* line 246, sass/components.scss */
.btn-success.disabled:hover, .btn-success.disabled:visited, .btn-success.disabled:focus, .btn-success.disabled:active {
  background-color: #D1DD98 !important;
}
/* line 254, sass/components.scss */
.btn-success:focus, .btn-success:active, .btn-success:visited, .btn-success:hover {
  background-color: #BAC72A !important;
}

/* line 263, sass/components.scss */
.btn-ghost-success {
  border: 1px solid #BFD518;
  color: #BFD518;
}
/* line 267, sass/components.scss */
.btn-ghost-success.disabled {
  background-color: transparent !important;
  border: 1px solid #D1DD98;
  color: #D1DD98;
}
/* line 272, sass/components.scss */
.btn-ghost-success.disabled:hover, .btn-ghost-success.disabled:visited, .btn-ghost-success.disabled:focus, .btn-ghost-success.disabled:active {
  background-color: transparent !important;
  border: 1px solid #D1DD98 !important;
  color: #D1DD98;
}
/* line 282, sass/components.scss */
.btn-ghost-success:hover, .btn-ghost-success:focus, .btn-ghost-success:active {
  border: 1px solid transparent;
  background-color: #BAC72A !important;
  color: white;
}
/* line 290, sass/components.scss */
.btn-ghost-success:visited {
  border: 1px solid #BAC72A;
  color: #BAC72A;
}

/* line 297, sass/components.scss */
.btn-warning {
  background-color: #CA5D4E;
}
/* line 300, sass/components.scss */
.btn-warning.disabled {
  background-color: #DFA99E;
}
/* line 303, sass/components.scss */
.btn-warning.disabled:hover, .btn-warning.disabled:visited, .btn-warning.disabled:focus, .btn-warning.disabled:active {
  background-color: #DFA99E !important;
}
/* line 311, sass/components.scss */
.btn-warning:focus, .btn-warning:active, .btn-warning:visited, .btn-warning:hover {
  background-color: #BB3B29 !important;
}

/* line 319, sass/components.scss */
.btn-ghost-warning {
  border: 1px solid #CA5D4E;
  color: #CA5D4E;
}
/* line 323, sass/components.scss */
.btn-ghost-warning.disabled {
  background-color: transparent !important;
  border: 1px solid #DFA99E;
  color: #DFA99E;
}
/* line 328, sass/components.scss */
.btn-ghost-warning.disabled:hover, .btn-ghost-warning.disabled:visited, .btn-ghost-warning.disabled:focus, .btn-ghost-warning.disabled:active {
  background-color: transparent !important;
  border: 1px solid #DFA99E !important;
  color: #DFA99E;
}
/* line 338, sass/components.scss */
.btn-ghost-warning:hover, .btn-ghost-warning:focus, .btn-ghost-warning:active {
  border: 1px solid transparent;
  background-color: #BB3B29 !important;
  color: white;
}
/* line 346, sass/components.scss */
.btn-ghost-warning:visited {
  border: 1px solid #BB3B29;
  color: #BB3B29;
}

/* line 353, sass/components.scss */
.btn-danger {
  background-color: #A41A67;
}
/* line 356, sass/components.scss */
.btn-danger.disabled {
  background-color: #D197A8;
}
/* line 359, sass/components.scss */
.btn-danger.disabled:hover, .btn-danger.disabled:visited, .btn-danger.disabled:focus, .btn-danger.disabled:active {
  background-color: #D197A8 !important;
}
/* line 367, sass/components.scss */
.btn-danger:focus, .btn-danger:active, .btn-danger:visited, .btn-danger:hover {
  background-color: #7F1F56 !important;
}

/* line 375, sass/components.scss */
.btn-ghost-danger {
  border: 1px solid #A41A67;
  color: #A41A67;
}
/* line 379, sass/components.scss */
.btn-ghost-danger.disabled {
  background-color: transparent !important;
  border: 1px solid #D197A8;
  color: #D197A8;
}
/* line 384, sass/components.scss */
.btn-ghost-danger.disabled:hover, .btn-ghost-danger.disabled:visited, .btn-ghost-danger.disabled:focus, .btn-ghost-danger.disabled:active {
  background-color: transparent !important;
  border: 1px solid #D197A8 !important;
  color: #D197A8;
}
/* line 394, sass/components.scss */
.btn-ghost-danger:hover, .btn-ghost-danger:focus, .btn-ghost-danger:active {
  border: 1px solid transparent;
  background-color: #7F1F56 !important;
  color: white;
}
/* line 402, sass/components.scss */
.btn-ghost-danger:visited {
  border: 1px solid #7F1F56;
  color: #7F1F56;
}

/* line 409, sass/components.scss */
.btn-neutral {
  background-color: #222222;
}
/* line 412, sass/components.scss */
.btn-neutral:focus, .btn-neutral:active, .btn-neutral:visited, .btn-neutral:hover {
  background-color: #666666 !important;
  color: white;
}
/* line 420, sass/components.scss */
.btn-neutral.disabled {
  background-color: #AAAAAA;
}
/* line 423, sass/components.scss */
.btn-neutral.disabled:hover, .btn-neutral.disabled:visited, .btn-neutral.disabled:focus, .btn-neutral.disabled:active {
  background-color: #AAAAAA !important;
}

/* line 432, sass/components.scss */
.btn-ghost-neutral {
  border: 1px solid #222222;
  color: #222222;
  outline: none;
  box-shadow: none;
}
/* line 438, sass/components.scss */
.btn-ghost-neutral:hover, .btn-ghost-neutral:focus, .btn-ghost-neutral:active {
  border: 1px solid transparent;
  background-color: #666666 !important;
  color: white;
}
/* line 446, sass/components.scss */
.btn-ghost-neutral:visited {
  border: 1px solid #222222;
  color: #222222;
}
/* line 451, sass/components.scss */
.btn-ghost-neutral.disabled {
  background-color: transparent !important;
  border: 1px solid #AAAAAA;
  color: #AAAAAA;
}
/* line 456, sass/components.scss */
.btn-ghost-neutral.disabled:hover, .btn-ghost-neutral.disabled:visited, .btn-ghost-neutral.disabled:focus, .btn-ghost-neutral.disabled:active {
  background-color: transparent !important;
  border: 1px solid #AAAAAA !important;
  color: #AAAAAA;
}

/* line 469, sass/components.scss */
.alert {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #666666;
  margin: 30px 0 10px;
  padding: 15px;
  border-radius: 0;
  line-height: 1.3;
}
/* line 479, sass/components.scss */
.alert button {
  text-shadow: none;
  opacity: 1;
}
/* line 484, sass/components.scss */
.alert p {
  color: #666666;
}
/* line 487, sass/components.scss */
.alert p strong {
  display: block;
  font-family: "Open Sans Bold";
}

/* line 496, sass/components.scss */
.alert-primary {
  border: 1px solid #28B1CA;
  background-color: #93C3D0;
}
/* line 500, sass/components.scss */
.alert-primary button {
  color: #28B1CA;
}
/* line 503, sass/components.scss */
.alert-primary button:hover {
  color: #28B1CA;
}

/* line 509, sass/components.scss */
.alert-success {
  border: 1px solid #BAC72A;
  background-color: #D1DD98;
}
/* line 513, sass/components.scss */
.alert-success button {
  color: #BAC72A;
}
/* line 516, sass/components.scss */
.alert-success button:hover {
  color: #BAC72A;
}

/* line 522, sass/components.scss */
.alert-warning {
  border: 1px solid #CA5D4E;
  background-color: #DFA99E;
}
/* line 526, sass/components.scss */
.alert-warning button {
  color: #CA5D4E;
}
/* line 529, sass/components.scss */
.alert-warning button:hover {
  color: #CA5D4E;
}

/* line 535, sass/components.scss */
.alert-danger {
  border: 1px solid #A41A67;
  background-color: #D197A8;
}
/* line 539, sass/components.scss */
.alert-danger button {
  color: #A41A67;
}
/* line 542, sass/components.scss */
.alert-danger button:hover {
  color: #A41A67;
}

/* line 549, sass/components.scss */
.tag {
  display: inline-block;
  border: 1px solid #AAAAAA;
  padding: 5px 10px;
  border-radius: 2px;
  margin: 10px 5px 5px 0;
  width: auto;
}
/* line 558, sass/components.scss */
.tag p {
  font-family: 'Open Sans Medium';
  color: #222222;
}
/* line 563, sass/components.scss */
.tag .close {
  float: none;
  font-size: 18px;
  vertical-align: middle;
  padding: 0 0 2px 15px;
  outline: none;
  color: #AAAAAA;
}
/* line 572, sass/components.scss */
.tag .close:hover {
  color: #222222;
  opacity: 1.0;
}
/* line 577, sass/components.scss */
.tag .close:active {
  color: #EAEAEA;
  opacity: 1.0;
}

/* line 587, sass/components.scss */
.icons p {
  width: 100%;
  font-size: 14px;
}
/* line 591, sass/components.scss */
.icons p span {
  display: inline-block;
  padding-right: 10px;
  font-size: 16px;
}

/* line 603, sass/components.scss */
input::-ms-clear {
  display: none;
}

/* line 607, sass/components.scss */
.input-group {
  display: block;
  margin: 10px 0 50px;
  height: 30px;
}
/* line 612, sass/components.scss */
.input-group .fa {
  position: relative;
  padding-right: 5px;
  top: -23px;
  float: right;
  font-size: 16px;
  color: #666666;
}
/* line 621, sass/components.scss */
.input-group input {
  font-size: 16px;
  padding: 15px 0 5px;
  display: block;
  border: none;
  border-bottom: 0.5px solid #666666;
  width: 100%;
  display: block;
  background-color: transparent;
}
/* line 631, sass/components.scss */
.input-group input:focus {
  outline: none;
  border-bottom: 1px solid #005DB4;
}
/* line 636, sass/components.scss */
.input-group input:focus ~ label, .input-group input:valid ~ label {
  margin-top: 25px;
  top: -30px;
  font-size: 14px;
  color: #666666;
}
/* line 644, sass/components.scss */
.input-group input:focus ~ p {
  display: block;
}
/* line 649, sass/components.scss */
.input-group label {
  color: #666666;
  font-family: 'Open Sans Light';
  font-size: 16px;
  position: absolute;
  top: 15px;
  pointer-events: none;
  transition: 0.15s ease-in-out all;
  -moz-transition: 0.15s ease-in-out all;
  -webkit-transition: 0.15s ease-in-out all;
}
/* line 660, sass/components.scss */
.input-group label span {
  color: #CA5D4E;
}
/* line 665, sass/components.scss */
.input-group p {
  display: none;
  font-size: 12px;
  color: #666666;
  padding: 2px 0 0;
  font-family: 'Open Sans Regular';
}
/* line 675, sass/components.scss */
.input-group.validated .fa {
  color: #BFD518;
}
/* line 679, sass/components.scss */
.input-group.validated input {
  border-bottom: 0.5px solid #BFD518;
}
/* line 682, sass/components.scss */
.input-group.validated input:focus ~ label, .input-group.validated input:valid ~ label {
  margin-top: 25px;
  top: -30px;
  font-size: 14px;
  color: #BFD518;
}
/* line 690, sass/components.scss */
.input-group.validated input:focus ~ p {
  display: none;
}
/* line 695, sass/components.scss */
.input-group.validated label {
  color: #BFD518;
  font-family: 'Open Sans Light';
}
/* line 699, sass/components.scss */
.input-group.validated label span {
  color: #BFD518;
}
/* line 704, sass/components.scss */
.input-group.validated p {
  display: none;
}
/* line 711, sass/components.scss */
.input-group.error .fa {
  color: #A41A67;
  font-size: 18px;
}
/* line 716, sass/components.scss */
.input-group.error input {
  border-bottom: 0.5px solid #A41A67;
}
/* line 719, sass/components.scss */
.input-group.error input:focus ~ label, .input-group.error input:valid ~ label {
  margin-top: 25px;
  top: -30px;
  font-size: 14px;
  color: #A41A67;
}
/* line 727, sass/components.scss */
.input-group.error input:focus ~ p {
  color: #A41A67;
  display: block;
}
/* line 733, sass/components.scss */
.input-group.error label {
  color: #A41A67;
  font-family: 'Open Sans Light';
}
/* line 737, sass/components.scss */
.input-group.error label span {
  color: #A41A67;
}
/* line 742, sass/components.scss */
.input-group.error p {
  color: #A41A67;
  display: block;
}
/* line 750, sass/components.scss */
.input-group.warning .fa {
  color: #CA5D4E;
}
/* line 754, sass/components.scss */
.input-group.warning input {
  border-bottom: 0.5px solid #CA5D4E;
}
/* line 757, sass/components.scss */
.input-group.warning input:focus ~ label, .input-group.warning input:valid ~ label {
  margin-top: 25px;
  top: -30px;
  font-size: 14px;
  color: #CA5D4E;
}
/* line 765, sass/components.scss */
.input-group.warning input:focus ~ p {
  color: #CA5D4E;
  display: block;
}
/* line 771, sass/components.scss */
.input-group.warning label {
  color: #CA5D4E;
  font-family: 'Open Sans Light';
}
/* line 775, sass/components.scss */
.input-group.warning label span {
  color: #CA5D4E;
}
/* line 780, sass/components.scss */
.input-group.warning p {
  color: #CA5D4E;
  display: block;
}

/* line 790, sass/components.scss */
.controls label {
  font-family: 'Open Sans Light';
  color: #666666;
}
/* line 795, sass/components.scss */
.controls .checkbox {
  margin-bottom: 30px;
}
/* line 798, sass/components.scss */
.controls .checkbox input.custom-checkbox {
  position: absolute;
  opacity: 0;
}
/* line 803, sass/components.scss */
.controls .checkbox input.custom-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 10px;
}
/* line 810, sass/components.scss */
.controls .checkbox input.custom-checkbox + label:first-of-type {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 10px 10px 10px 0;
}
/* line 817, sass/components.scss */
.controls .checkbox input.custom-checkbox + label:before {
  content: "";
  font-size: 14px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: bottom;
  padding: 0 2.2px 20px;
  height: 24px;
  width: 22px;
  border: 1px solid #AAAAAA;
  background-color: transparent;
  border-radius: 1px;
}
/* line 831, sass/components.scss */
.controls .checkbox input.custom-checkbox:checked + label:before {
  color: #51CDD6;
  border: 1.5px solid #51CDD6;
  content: "\f00c";
  font-family: 'FontAwesome';
}
/* line 839, sass/components.scss */
.controls .checkbox input.custom-checkbox:checked + label:after {
  content: '';
  background: transparent;
}
/* line 845, sass/components.scss */
.controls .checkbox input.custom-checkbox:first-of-type {
  margin-left: 0 !important;
}
/* line 852, sass/components.scss */
.controls .radio-button div:first-of-type {
  margin-left: 0;
}
/* line 856, sass/components.scss */
.controls .radio-button .radio {
  margin: 10px;
  display: inline-block;
}
/* line 860, sass/components.scss */
.controls .radio-button .radio label {
  margin: 5px 0px;
  padding-left: 0;
}
/* line 865, sass/components.scss */
.controls .radio-button .radio input {
  position: absolute;
  opacity: 0;
}
/* line 870, sass/components.scss */
.controls .radio-button .radio input + .radio-label:before {
  content: '';
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid #AAAAAA;
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
  margin-right: 10px;
  vertical-align: bottom;
  cursor: pointer;
}
/* line 884, sass/components.scss */
.controls .radio-button .radio input:checked + .radio-label:before {
  background-color: #51CDD6;
  padding: 2px;
  border: 1px solid #51CDD6;
  box-shadow: inset 0 0 0 3px white;
}
/* line 892, sass/components.scss */
.controls .radio-button .radio input:focus + .radio-label:before {
  outline: none;
  border-color: #51CDD6;
}
/* line 897, sass/components.scss */
.controls .radio-button .radio input:disabled + .radio-label:before {
  box-shadow: none;
  border-color: #EAEAEA;
  background-color: #EAEAEA;
}

/* line 906, sass/components.scss */
.nav-tabs {
  border: none;
}
/* line 909, sass/components.scss */
.nav-tabs li.tab {
  width: 50%;
  text-align: center;
  border: none;
}
/* line 914, sass/components.scss */
.nav-tabs li.tab a {
  color: #666666;
  font-size: 14px;
  font-family: 'Open Sans Regular';
  padding: 5px;
  border: none;
  top: 3px;
  border-radius: 0;
  background-color: #F4F4F4;
  margin: 0;
}
/* line 925, sass/components.scss */
.nav-tabs li.tab a:hover {
  background-color: #51CDD6;
}
/* line 931, sass/components.scss */
.nav-tabs li.tab.active a {
  top: 0;
  border: none;
  border-top: 3px solid #51CDD6 !important;
  background-color: #EAEAEA;
  font-family: 'Open Sans Bold';
}
/* line 938, sass/components.scss */
.nav-tabs li.tab.active a:hover {
  background-color: #EAEAEA;
  cursor: pointer;
  border: none;
}

/* line 948, sass/components.scss */
.tab-content {
  background-color: #EAEAEA;
  padding: 10px;
  color: #666666;
  text-align: center;
}

/* line 6, sass/styles.scss */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
