@charset "UTF-8";

$azulYPF:#005DB4;
$black:#222222;
$darkGray:#666666;
$mediumGray:#AAAAAA;
$lightGray:#EAEAEA;
$extraLightGray:#F4F4F4;
$white:#FFFFFF;

$cyan:#51CDD6;
$mediumCyan:#28B1CA;
$lightCyan:#93C3D0;

$green:#BFD518;
$mediumGreen:#BAC72A;
$lightGreen:#D1DD98;

$orange:#CA5D4E;
$mediumOrange:#BB3B29;
$lightOrange:#DFA99E;

$purple:#A41A67;
$mediumPurple:#7F1F56;
$lightPurple:#D197A8;