@charset "UTF-8";

$transparent:rgba(255, 0, 255, 0);

$azulYPF:#005DB4;
$black:#222222;
$lightBlack: #444444;
$darkGray:#666666;
$mediumGray:#AAAAAA;
$lightGray:#EAEAEA;
$extraLightGray:#F4F4F4;
$white:#FFFFFF;

$cyan:#30ced6;
$mediumCyan:#00779b;
$lightCyan:#BDD6D3;

$green:#BFD518;
$mediumGreen:#809E00;
$lightGreen:#D1DD98;

$yellow: #FFCE54;
$mediumYellow: #FFC200;
$lightYellow:#FFE4B3;

$orange:#FF824A;
$mediumOrange:#bb3b29;
$lightOrange:#FFC5B3;

$pink: #FF1764;
$darkPink:#91003B;
$lightPink: #FFCFE0;

$purple:#a02789;
$mediumPurple:#6d1d61;
$lightPurple:#D1AAC6;