@charset "UTF-8";

$azulYPF:#005DB4;
$black:#222222;
$darkGray:#666666;
$mediumGray:#AAAAAA;
$lightGray:#F0EFEF;
$white:#FFFFFF;

$cyan:#28B1CA;
$mediumCyan:#51CDD6;
$lightCyan:#93C3D0;

$green:#BFD518;
$mediumGreen:#BAC72A;
$lightGreen:#D1DD98;

$orange:#CC6744;
$mediumOrange:#D58671;
$lightOrange:#E1AC94;

$purple:#A41A67;
$mediumPurple:#BF2882;
$lightPurple:#D197A8;