@charset "UTF-8";
@import "colors";
@import "fonts";
@import "grid-styles";
@import "dropdown-submenu";
@import "fine-uploader-styles";

//Cheats

	//text-center
.text-center {
	text-align:center !important;
}

.text-right {
	text-align:right !important;
}

.text-left {
	text-align:left !important;
}

//Margin-top
.margin-top-0 {
	margin-top:0px !important;
}

.margin-top-10 {
	margin-top:10px !important;
}

.margin-top-15 {
	margin-top:15px !important;
}

.margin-top-20 {
	margin-top:20px !important;
}

.margin-top-25 {
	margin-top:25px !important;
}

.margin-top-30 {
	margin-top:30px !important;
}

.margin-top-50 {
	margin-top:50px !important;
}

.margin-top-60 {
	margin-top:60px !important;
}

.margin-top-100 {
	margin-top:100px !important;
}

//Margin-bottom
.margin-bottom-0 {
	margin-bottom:0px !important;
}

.margin-bottom-10 {
	margin-bottom:10px !important;
}

.margin-bottom-15 {
	margin-bottom:15px !important;
}

.margin-bottom-20 {
	margin-bottom:20px !important;
}

.margin-bottom-30 {
	margin-bottom:30px !important;
}

.margin-bottom-50 {
	margin-bottom:50px !important;
}

body {
	background-color:$extraLightGray !important;
	font-family:'Open Sans Regular';
	height:100%;
}

header {
	background-color:$azulYPF;

	.top {
		padding:15px 15px 0;
		
		img {
			display:inline-block;
			padding:0 20px 0 0;
			margin-right: 10px;
			border-right:1px solid $white;
		}

		h3 {
			position:relative;
			top:5px;
			color:$white;
			font-family: 'din-light';
			display:inline-block;

			span {
				font-family: 'din-bold';
				font-size: 21px;
			}
		}

		.user {
			position:absolute;
			right: 20px;
			top:10px;
			display: inline-block;
			color:$white;

			h5 {
				font-family: 'din-bold';
				display: inline-block;
				margin-right: 10px;
				color:$white;
			}

			p {
				font-family: 'Open Sans Light';
				margin-right: 10px;
			}

			span {
				font-size: 18px;
			}
		}
	}

	.navbar {
		padding:0 5px 0;
		margin-top:10px;
		min-height: auto;
		margin-bottom:0;
		border:none;

		.navbar-nav {
			li {
				list-style: none;

				a {
					color:$white;
					padding:10px 10px 15px;

					&:hover,
					&:focus {
						color:$darkGray;
						text-decoration: none;
						background-color:$extraLightGray;
					}

					&:active {
						background-color:$extraLightGray;
						color:$darkGray;
					}
				}

				ul {
					background-color:$extraLightGray;
					top:43px;
					width: 100%;
					border-top:none;
					border-bottom:1px solid $mediumGray;
					border-right:1px solid $lightGray;
					border-left:1px solid $lightGray;
					border-radius:1px;
					box-shadow:none;

					li {

						a {
							width: 100%;
							padding:10px;
							display: inline-block;
							color:$darkGray;
							border-top:1px solid $lightGray;

							&:hover {
								background-color:$azulYPF;
								color:$white;
							}
						}
					}
				}
			}
		}
	}
}

main {
  	min-height:720px;
}

// Titles
h1 {
	color:$darkGray;
	font-family:'din-light';
	font-size:40px;
	margin:15px 15px 0 0;
	display:inline-block;

	span {
		font-family:'din-bold';
	}
}

h3 {
	display:inline-block;
	color:$azulYPF;
	font-family:'din-light';
	font-size:20px;
	margin-bottom:10px;
}

h4 {
	color:$cyan;
	font-family:'Open Sans Bold';
	font-size:16px;
	margin:0 0 10px;
}

h5 {
	color:$darkGray;
	font-family:'Open Sans Semibold';
	font-size:14px;
	margin:20px 0 5px;

	span {
		color:$orange;
	}
}

/* Color Text */
.text-darkGray {
	color: $darkGray;
}

.text-cyan {
	color: $cyan;
}

.text-green {
	color: $green;
}

.text-yellow {
	color: $yellow;
}

.text-orange {
	color: $orange;
}

.text-pink {
	color: $pink;
}

.text-purple {
	color: $purple;
}

/* Color Background */
.bg-darkgray {
	background-color: $darkGray;
}

.bg-cyan {
	background-color: $cyan;
}

.bg-green {
	background-color: $green;
}

.bg-yellow {
	background-color: $yellow;
}

.bg-orange {
	background-color: $orange;
}

.bg-pink {
	background-color: $pink;
}

.bg-purple {
	background-color: $purple;
}

.state {
	background-color:$white;
	text-align:left;
	padding:10px;
	width: auto;
	margin:0 10px 10px 0;
    display: inline-block;

    h5 {
    	display: inline-block;
		font-family: 'din-bold';
		font-size:18px;
		margin:0;
		padding:0 0 0 5px;
    }

    .circle {
    	display:inline-block;
		border-radius:10px;
		position: relative;
    	top: 1px;
		width: 13px;
		height:13px;
    }
}

.page-title {
	margin: 15px -15px 15;

	p {
		display: block;
		font-family: 'din-regular';
		font-size: 16px;
		color:$mediumGray;
	}

	.state {
		background-color:$white;
		text-align:center;
		padding:10px 5px;
		width:165px;
		margin:30px 0 0 10px;
	    display: inline-block;
	    position:absolute;
	    right: 15px;

		h5 {
			display: inline-block;
			font-family: 'din-bold';
			font-size:18px;
			margin:0;
			padding:0 0 0 5px;
		}

		.circle {
			display:inline-block;
			border-radius:10px;
			position: relative;
	    	top: 1px;
			width: 13px;
			height:13px;
		}
	}

	button {
		position:relative;
		top:10px;

		&:hover {
			span { 
				background-color: $white;
				color: $mediumCyan;
			}
		}

		span {
			font-size: 12px;
			font-family: 'FontAwesome';
			color: $cyan;
			background-color: $white;
			padding:5px 6px 4px;
			margin-right: 10px;
			border-radius:15px;
		}
	}
}


//Tooltip
.detail + .tooltip > .tooltip-arrow {
	position:relative;
	left:45% !important;
	border-bottom-color: $black;
}

.detail + .tooltip > .tooltip-inner {
  	width:150px;
    color: white; 
    border: 1px solid $black; 
    padding: 10px;
    font-size: 12px;
    border-radius:0;
    margin-right: 15px;
    display: inline-block;
	text-align:left;
	background-color: $black;
}

//Header information
.info-header {
	background-color:$darkGray;
	width:100%;
	display: inline-block;
    padding:25px 15px 15px 15px;
    margin:20px 0 15px;

    h4 {
    	color:$white;
    	font-size:16px;
    	font-family: 'din-bold';
    }

    .item {
    	margin:10px 0 30px 0;

    	h6 {
    		font-size:14px;
    		color:$white;
    		font-family: 'Open Sans Light';	
    	}

    	h4 {
    		font-family:'din-medium';
    		color:$white;
    		font-size:22px;
    	}
    }

    .vip-item {
    	background-color: $cyan;
    	padding:20px 20px 10px;
    	margin-bottom: 10px;

    	&.purple {
    		background-color: $purple;
    	}

    	h6 {
    		font-size:18px;
    		color:$white;
    		font-family: 'Open Sans Light';	
    	}

    	h4 {
    		font-family:'din-medium';
    		color:$white;
    		font-size:36px;
    		margin-bottom:0;

    		span {
    			font-family: 'din-light';
    		}
    	}
    }
}

.list {
	width: 100%;
	margin:10px 0 30px;

	.list-header {
		position:relative;
		margin-bottom:10px;

		.list-title {
			display: inline-block;

			h3 {
				display: inline-block;
				color:$azulYPF;
				font-family:'din-light';
				font-size:20px;
				margin-bottom:0;	
			}
		}
	}

	.list-body {
		display:inline-block;
		padding:0;
		width: 100%;

		.list-filters {
			.actions {
				text-align: right;
				vertical-align: middle;

				a {
					margin-right: 15px;
				    color:$black;
				    text-transform: uppercase;
				    font-family: 'Open Sans Semibold';

				    span {
				    	margin-right: 5px;
				    }

				    &:hover {
						text-decoration: none;
					}
				}

				button {
					position:relative;
					right: 0;

					span {
						margin-right: 5px;
					}
				}
			}

			.tags-group {
				text-align: right;
			    top: -15px;
			    position: relative;

				.tag {
					display: none;
				}

				.show-tag {
					display:inline-block;
				}
			}
			

			.filters {
				width: 100%;
				position:relative;
				padding:15px 20px 0;
				background-color: $white;
				top:-10px;
				display:none;

				h4 {
					margin:0;
				}

				h6 {
					font-size: 14px;
					color: $darkGray;
				}

				.filter-group {
					background-color: $extraLightGray;
					margin:15px 0 10px;
					padding:5px;
				}

				button {
					display: inline-block;
					float: right;
				}
			}
		}
	}

}

//Well
.well {
	display:inline-block;
	width:100%;
	margin:10px 0 10px;
	background-color:transparent;
	border-radius:2px;
	border:none;
	box-shadow:none;
	padding:0;
	

	.well-header {
		position:relative;
		
		h6 {
			display: inline-block;

			span {
				color:$orange;
			}
		}

		.well-add {
			display: inline-block;
		    position: absolute !important;
		    right: 0;

			a {
				text-transform:uppercase;
				font-family: 'Open Sans Semibold';
				font-size: 14px;

				&:hover,
				&:visited,
				&:focus {
					text-decoration: none;
					color: $mediumCyan;

					span {
						background-color: $mediumCyan;
					}
				}

                                span {
                                        color: $white;
                                        background-color: $cyan;
                                        padding:6px 6px 5px 7px;
                                        margin-right: 0;
                                        border-radius:20px;
                                }
			}
		}
	}

	.well-body {
		background-color:$lightGray;
		padding:10px 15px 0;
		margin-top:15px;

		.well-trash {
			display: inline-block;
		    position: absolute;
		    top:25px;

		    @at-root .well-trash-button, & a {
				text-transform:uppercase;
				font-family: 'Open Sans Semibold';
				font-size: 12px;

				&:hover,
				&:visited,
				&:focus {
					text-decoration: none;

					@at-root .well-trash-button:hover span, & span {
						background-color: $mediumPurple !important;
					}
                                        
				}

				@at-root .well-trash-button span, & span {
					color: $white;
					background-color: $purple;
					padding:5px;
					margin-right: 0;
					border-radius:20px;
				}
			}
		}
	}
}

// Card
.card {
	width: 100%;
	margin:10px 0 30px;

	.card-header {
		position:relative;
		margin-bottom:10px;

		.state {
			background-color:$green;
			display: inline-block;
			position:absolute;
			right: 0;
			top:0;
			padding:5px 20px;

			h5 {
				margin:0;
				font-family: 'Open Sans Regular';
				color:$white;
				font-size: 16px;
				letter-spacing: 1px;

				span {
					color:$white;
					font-size: 16px;
					margin-right: 5px;
				}
			}
		}

		.card-title {
			display: inline-block;

			h3 {
				display: inline-block;
				color:$azulYPF;
				font-family:'din-light';
				font-size:20px;

				span {
					background-color: $azulYPF;
					color:$white;
					padding:7px 10px 4px;
				}
				
			}

			.add {
				display: inline-block;
			    position: absolute;
			    right: 15px;
			    top: 5px;

				a {
					color: $cyan;
					text-transform:uppercase;
					font-family: 'Open Sans Semibold';
					font-size: 14px;

					&:hover,
					&:visited,
					&:focus {
						text-decoration: none;
						color: $mediumCyan;

						span {
							background-color: $mediumCyan;
						}
					}

					span {
						color: $white;
						background-color: $cyan;
						padding:5px 6px 4px;
						margin-right: 10px;
						border-radius:15px;
					}
				}
				
			}

			.delete {
				display: inline-block;
			    position: absolute;
			    right: 15px;
			    top: 5px;

				a {
					color: $purple;
					text-transform:uppercase;
					font-family: 'Open Sans SemiBold';
					font-size: 14px;

					&:hover,
					&:visited,
					&:focus {
						text-decoration: none;
						color: $mediumPurple;

						span {
							background-color: $mediumPurple;
						}
					}

					span {
						color: $white;
						background-color: $purple;
						padding:4px 6px 5px;
						margin-right: 10px;
						border-radius:15px;
					}
				}
			}
		}
	}

	.card-body {
		display:inline-block;
		background-color:$white;
		padding: 25px 20px 30px;
		margin-bottom:30px;
		width: 100%;

		h5 {
			color:$mediumCyan;
			font-family:'Open Sans Semibold';
			font-size:16px;
			margin:20px 0 0;
		}

		h6 {
			color:$darkGray;
			font-family:'Open Sans Regular';
			font-size:14px;
		}

		&.transparent {
			background-color:transparent;
		}

	    p {
			color:$mediumGray;
			margin-bottom: 15px;
		}

		.add {
				display: inline-block;
			    position: absolute;
			    right: 0;
			    top: 0;

				a {
					color: $cyan;
					text-transform:uppercase;
					font-family: 'Open Sans Semibold';
					font-size: 12px;

					&:hover,
					&:visited,
					&:focus {
						text-decoration: none;
						color: $mediumCyan;

						span {
							background-color: $mediumCyan;
						}
					}

					span {
						color: $white;
						background-color: $cyan;
						padding:4px 5px 3px;
						margin-right: 0;
						border-radius:20px;
					}
				}
				
			}
	}	
}


//Texts 
p {
	font-size:14px;
	display:inline-block;
}


//Buttons
.btn {
	display:inline-block;
	color:$white;
	font-size:14px;
	vertical-align:inherit;
	font-family:'Open Sans SemiBold';
	text-transform:uppercase;
	text-decoration:none;
	margin:10px 2px 20px;
	padding:8px 32px 10px;
	border-radius:2px;
	border:1px solid transparent;
	background-color:transparent;

	&:active,
	&:focus,
	&:visited,
	&:hover {
		box-shadow:0px !important;
		outline: 0px !important;
		border: 1px solid transparent !important;
	}

	&.disabled {
		caret-color: $cyan;

		&:focus,
		&:hover {
			border:1px solid transparent !important;
		}
	}

	.fa {
		font-size: 14px;
		border-radius:20px;
		padding:3px 4px 3px;
		background-color:$white;
		margin-right: 10px;
	}
}

	// Primary
.btn-primary {
	background-color:$cyan;

	&.disabled {
		background-color: $lightCyan;
		
		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color: $lightCyan !important;
		}
	}

	&:focus,
	&:active,
	&:visited,
	&:hover {
		background-color: $mediumCyan !important;
	}

	.fa {
		color: $cyan;
	}

}

.btn-ghost-primary {
	border:1px solid $mediumCyan;
	color:$mediumCyan;

	&.disabled {
		background-color:transparent !important;
		border:1px solid $lightCyan;
		color:$lightCyan;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color:transparent !important;
			border:1px solid $lightCyan !important;
			color:$lightCyan;
		}
	}

	&:hover,
	&:focus,
	&:active {
		border:1px solid transparent;
		background-color:$cyan !important;
		color:white;
	}

	&:visited {
		border:1px solid $mediumCyan;
		color:$mediumCyan;
	}
}

	// Success
.btn-success {
	background-color:$green;

	&.disabled {
		background-color:$lightGreen;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color: $lightGreen !important;
		}
	}

	&:focus,
	&:active,
	&:visited,
	&:hover {
		background-color: $mediumGreen !important;
	}

	.fa {
		color: $green;
	}
	
}

.btn-ghost-success {
	border:1px solid $green;
	color:$green;

	&.disabled {
		background-color:transparent !important;
		border:1px solid $lightGreen;
		color:$lightGreen;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color:transparent !important;
			border:1px solid $lightGreen !important;
			color:$lightGreen;
		}
	}

	&:hover,
	&:focus,
	&:active {
		border:1px solid transparent;
		background-color:$mediumGreen !important;
		color:white;
	}

	&:visited {
		border:1px solid $mediumGreen;
		color:$mediumGreen;
	}
}

	// Warning
.btn-warning {
	background-color:$orange;

	&.disabled {
		background-color:$lightOrange;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color: $lightOrange !important;
		}
	}

	&:focus,
	&:active,
	&:visited,
	&:hover {
		background-color: $mediumOrange !important;
	}

	.fa {
		color: $orange;
	}
}

.btn-ghost-warning {
	border:1px solid $orange;
	color:$orange;

	&.disabled {
		background-color:transparent !important;
		border:1px solid $lightOrange;
		color:$lightOrange;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color:transparent !important;
			border:1px solid $lightOrange !important;
			color:$lightOrange;
		}
	}

	&:hover,
	&:focus,
	&:active {
		border:1px solid transparent;
		background-color:$mediumOrange !important;
		color:white;
	}

	&:visited {
		border:1px solid $mediumOrange;
		color:$mediumOrange;
	}
}

	// Danger
.btn-danger {
	background-color:$purple;

	&.disabled {
		background-color:$lightPurple;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color: $lightPurple !important;
		}
	}

	&:focus,
	&:active,
	&:visited,
	&:hover {
		background-color: $mediumPurple !important;
	}

	.fa {
		color: $purple;
	}	
}

.btn-ghost-danger {
	border:1px solid $purple;
	color:$purple;

	&.disabled {
		background-color:transparent !important;
		border:1px solid $lightPurple;
		color:$lightPurple;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color:transparent !important;
			border:1px solid $lightPurple !important;
			color:$lightPurple;
		}
	}

	&:hover,
	&:focus,
	&:active {
		border:1px solid transparent;
		background-color:$mediumPurple !important;
		color:white;
	}

	&:visited {
		border:1px solid $mediumPurple;
		color:$mediumPurple;
	}

	.fa {
		color: $white;
		background-color:$purple;
	}	
}

	// Neutral
.btn-neutral {
	background-color:$darkGray;

	&:focus,
	&:active,
	&:visited,
	&:hover {
		background-color: $darkGray !important;
		color:white;
	}	

	&.disabled {
		background-color:$mediumGray;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color: $mediumGray !important;
		}
	}

	.fa {
		color: $darkGray;
	}	
}

.btn-ghost-neutral {
	border:1px solid $black;
	color:$black;
	outline:none;
	box-shadow:none;

	&:hover,
	&:focus,
	&:active {
		border:1px solid transparent;
		background-color:$darkGray !important;
		color:white;
	}

	&:visited {
		border:1px solid $black;
		color:$black;
	}

	&.disabled {
		background-color:transparent !important;
		border:1px solid $mediumGray;
		color:$mediumGray;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color:transparent !important;
			border:1px solid $mediumGray !important;
			color:$mediumGray;
		}
	}

	.fa {
		color: $white;
		background-color:$black;
	}	
}
// Remarks
.remark {
	display:block;
	width:100%;
	font-size:14px;
	margin:45px 0 10px;
	padding:15px;
	border-radius:0;
	line-height:1.3;

	&.remark-primary {
		border:1.5px dashed $cyan;
		
		p {
			color:$cyan !important;
			margin:0;
		}
	}

	&.remark-success {
		border:1.5px dashed $green;
		
		p {
			color: $green !important;
			margin:0;
		}
	}

	&.remark-warning {
		border:1px solid $lightOrange;

		span {
			color:$white;
			background-color:$orange;
			padding:4px 9px 4px;
			border-radius:20px;
			margin-right: 5px;
		}
		
		p {
			color: $orange !important;
			margin:0;
		}
	}

	&.remark-danger {
		border:1px dashed $purple;
		
		p {
			color: $purple !important;
			margin:0;
		}
	}
}

// Alerts
.alert {
	display:block;
	width:100%;
	font-size:14px;
	color:$darkGray;
	margin:30px 0 10px;
	padding:15px;
	border-radius:0;
	line-height:1.3;

	button {
		text-shadow: none;
		opacity: 1;
	}

	p {
		width: 80%;
		color:$lightBlack;

		strong {
			display: block;
			font-family: 'Open Sans Bold';
		}
	}
}

.alert-primary {
	border:1px solid $mediumCyan;
	background-color: $lightCyan;


	button {
		color:$mediumCyan;

		&:hover {
			color:$mediumCyan;
		}
	}
}

.alert-success {
	border:1px solid $mediumGreen;
	background-color: $lightGreen;

	button {
		color:$mediumGreen;
		
		&:hover {
			color:$mediumGreen;
		}
	}
}

.alert-warning {
	border:1px solid $orange;
	background-color: $lightOrange;

	button {
		color:$orange;

		&:hover {
			color:$orange;
		}
	}
}

.alert-danger {
	border:1px solid $purple;
	background-color: $lightPurple;
	
	button {
		color:$purple;

		&:hover {
			color:$purple;
		}
	}
}

//Tags
.tag {
	display:inline-block;
	border:1px solid $mediumGray;
	padding:5px 10px;
	border-radius:2px;
	margin:10px 5px 5px 0;
	width:auto;


	p {
		width: auto;
		font-family: 'Open Sans Semibold';
		color:$black;
	}

	.close {
		float: none;
	    font-size: 18px;
	    vertical-align: middle;
	    padding: 0 0 2px 15px;
	    outline: none;
	    color:$mediumGray;


	    &:hover {
	    	color:$black;
	    	opacity: 1.0;
	    }

	    &:active {
	    	color:$lightGray;
	    	opacity: 1.0;
	    }


	}
}

.icons {
	p {
		width: 100%;
		font-size:14px;

		span {
			display: inline-block;
			padding-right:10px;
			font-size:16px;
		}
	}
}



//Inputs

input::-ms-clear{
    display: none;
}

.input-group {
    display: block;
    margin:10px 0 55px;
    height: 30px;
    
    &.autoheight {
        height: auto;
    }

    .fa {
    	position: relative;
    	padding-right:5px;
    	top: -23px;
    	float: right;
    	font-size: 16px;
    	color:$darkGray;
    }

	// Select with search
    .select2-container {
  		.select2-selection--single {

  			.select2-selection__rendered {
  				padding-left:0px;
  				font-size: 16px;
  				font-family: 'Open Sans Regular';
  			}
	  	}
  	}

	.select2-container--default {
        position: inherit;
        margin-top: 15px;

		.select2-search--dropdown {
			input.select2-search__field {
				border:0px solid $black !important;
  			}
		}

		.select2-selection--single { 
			
			.select2-selection__arrow { 
				
				b {
					border-color:$darkGray transparent transparent transparent;
					border-width: 5px 5px 5px 5px;
					margin-left:-10px !important;
					margin-top:-5px;
				}
			}
		}

		&.select2-container--open {

  			.select2-selection--single {

  				.select2-selection__arrow {
  					right: 5px;

  					b {
  						border-color:$darkGray transparent transparent transparent;
  						border-width: 5px 5px 5px 5px;
  						margin-left:-5px !important;
  						margin-top:-5px;
  					}
  				}
  			}
  		}

		.select2-selection--single {
			border-radius: 0;
	        border: none;
	        border-bottom: 0.5px solid $darkGray;
	        background-color: transparent;

	        .select2-selection__arrow {
	        	width: 10px;

	        	b {
	        		border-color:$darkGray transparent transparent transparent;
	        	}
	        }

			.select2-selection__rendered {
					line-height: 25px;

				&.texto-blanco {
					color:$white;
				}
			}
		}
	}

    select {
    	-webkit-appearance: none;
  		-moz-appearance: none;
  		-ms-appearance: none;
    	background-image:
    		linear-gradient(45deg, transparent 50%, $darkGray 50%),
    		linear-gradient(135deg, $darkGray 50%, transparent 50%),
    		linear-gradient(to right, transparent, transparent);
  		background-position:
    		calc(100% - 10px) calc(1em + 8px), 
    		calc(100% - 5px) calc(1em + 8px), 
    		calc(100% - 2.5em) 0;
  		background-size:
    		5px 5px,
   			5px 5px,
    		0 0;
  		background-repeat: no-repeat;

  		&::-ms-expand {
  			display:none;
  		}

  		option {
  			color:$darkGray;
  		}
    }

	input, select, textarea, .label-campo {
		border-radius:0;
		color: $transparent;
		font-size:16px;
		padding:15px 0 5px;
		display:block;
		border:none;
		border-bottom:0.5px solid $darkGray;
		width: 100%;
		background-color:transparent;
                transition:color 0.3s;
                -moz-transition:color 0.3s;
                -webkit-transition:color 0.3s;
	
                &.mostrar, &:focus {
                    color:$black;
                }
                
                &.mostrar:disabled {
                    color:$mediumGray;
                }
                
		&:focus {
			outline:none;
			border-bottom:1px solid $azulYPF;
		}

		&:disabled {
			border-bottom:0.5px solid $mediumGray;

			~ span.fa {
				color:$mediumGray;
			}

			~ label {
				color:$mediumGray !important;

				span {
					display:none;
					color:$mediumGray;
				}
			}
		}

		&:focus ~ label, 
		& ~ label.label-arriba {
			margin-top:25px;
			top:-30px;
			font-size:14px;
			color:$darkGray;
		}

		&:focus ~ p {
			display:block;
		}

		//Timepicker
		&.timepicker {
			box-shadow:none;
			height: auto;
		}
	}
        
        .label-campo {
            padding-top: 0px;
        }
        
    textarea {
        resize: none;
    }

	label, 
	.label-abajo {
		display: inline-block;
		color:$darkGray;
		font-family: 'Open Sans Light';
		font-size:16px;
		position:absolute;
		left:0;
		top:15px;
		pointer-events:none;
		transition:0.15s ease-in-out all;
		-moz-transition:0.15s ease-in-out all;
		-webkit-transition:0.15s ease-in-out all;
		
		span {
			display: inline-block;
			color:$orange;
		}
	}

	p {
		display:none;
		font-size:12px;
		color:$darkGray;
		padding:3px 0 0;
		font-family: 'Open Sans Regular';
	}

	h6 {
		display: inline-block;
		font-size: 14px;
		opacity: 1;
		color:$white;
		background-color:$black;
		font-family: 'Open Sans Regular';
		padding:3px 10px;
	}

	&.duplicated {

		&.d-four {
			input, 
			select, 
			textarea, 
			.label-campo {
				border-radius:0;
				color: $transparent;
				font-family: 'Open Sans Regular';
				font-size:16px;
				padding:15px 5px 5px;
				display:block;
				border:none;
				border-bottom:2px solid $cyan;
				width: 100%;
				background-color:$lightCyan;
				
                                &.mostrar, &:focus {
                                    color: $white;
                                }
				&:focus {
					outline:none;
					border-bottom:2px solid $azulYPF;
				}

				&:focus ~ label, 
				& ~ label.label-arriba {
					margin-top:25px;
					top:-30px;
					font-size:14px;
					padding:0 5px;
					color:$lightBlack;
					width: 100%;
					background-color: $lightCyan;
				}

				&:focus ~ p {
					display:block;
				}

				&.timepicker {
					box-shadow:none;
					height: auto;
				}
			}

			.label-campo {
            	padding-top: 0px;
        	}
        
	    	textarea {
	        	resize: none;
	    	}

			label, 
			.label-abajo {
				display: inline-block;
				color:$darkGray;
				font-family: 'Open Sans Light';
				font-size:16px;
				position:absolute;
				left:0;
				top:15px;
				pointer-events:none;
				transition:0.15s ease-in-out all;
				-moz-transition:0.15s ease-in-out all;
				-webkit-transition:0.15s ease-in-out all;
				
				span {
					display: inline-block;
					color:$orange;
				}
			}

			p {
				display:block;
				font-size:12px;
				color:$darkGray;
				padding:5px 0 0;
				font-family: 'Open Sans Regular';

				span {
					display: inline-block;
					font-size: 10px;
					color: $white;
					background-color: $orange;
					border-radius:20px;
					padding: 3px 6px 3px 7px;
					margin-right: 3px;
					font-family: 'FontAwesome' !important;
					position:inherit;
					float:none;
				}
			}

			h6 {
				display: inline-block;
				font-size: 14px;
				opacity: 1;
				color:$white;
				background-color:$black;
				font-family: 'Open Sans Regular';
				padding:3px 10px;
			}
		}
	}



	&.validated {

		.fa {
	    	color:$green;
	    }

		input {
			border-bottom:0.5px solid $green;
	
			&:focus ~ label,
			&:valid ~ label, {
				margin-top:25px;
				top:-30px;
				font-size:14px;
				color:$green;
			}

			&:focus ~ p {
				display:none;
			}
		}

		label {
			color:$green;
			font-family:'Open Sans Light';

			span {
				color:$green;
			}
		}

		p {
			display:none;
		}
	}

	&.error {

		.fa {
	    	color:$purple;
	    	font-size: 18px;
	    }

		input {
			border-bottom:0.5px solid $purple;
	
			&:focus ~ label,
			&:valid ~ label, {
				margin-top:25px;
				top:-30px;
				font-size:14px;
				color:$purple;
			}

			&:focus ~ p {
				color:$purple;
				display:block;
			}
		}

		label {
			color:$purple;
			font-family:'Open Sans Light';

			span {
				color:$purple;
			}
		}

		p {
			color:$purple;
			display:block;
		}
	}

	&.warning {

		.fa {
	    	color:$orange;
	    }

		input {
			border-bottom:0.5px solid $orange;
	
			&:focus ~ label,
			&:valid ~ label, {
				margin-top:25px;
				top:-30px;
				font-size:14px;
				color:$orange;
			}

			&:focus ~ p {
				color:$orange;
				display:block;
			}
		}

		label {
			color:$orange;
			font-family:'Open Sans Light';

			span {
				color:$orange;
			}
		}

		p {
			color:$orange;
			display:block;
		}
	}
}

//Special Inputs

	//TimePicker
.bootstrap-timepicker-widget {
    .glyphicon {
        font-family: 'FontAwesome';
    }
    .glyphicon-chevron-down:before {
        content: "\f107";
    }
    .glyphicon-chevron-up:before {
        content: "\f106";
    }
}

//Controls
.controls {

	label {
		font-family: 'Open Sans Light';
		color:$darkGray;
	}

	.checkbox {
		margin-bottom:30px;

		input.custom-checkbox {
			position:absolute;
			opacity: 0;

			& + label {
				position:relative;
				cursor:pointer;
				padding:0;
				margin:10px;
			}

			& + label:first-of-type {
				position:relative;
				cursor:pointer;
				padding:0;
				margin:10px 10px 10px 0;
			}

			& + label:before {
				content:"";
				font-size: 14px;
				margin-right: 10px;
				display: inline-block;
				vertical-align: bottom;
				padding: 0 2.2px 20px;
				height: 24px;
				width: 22px;
				border:1px solid $mediumGray;
				background-color:transparent;
				border-radius:1px;
			}

			&:checked + label:before {
				color:$cyan;
				border:1.5px solid $cyan;
				content:"\f00c";
				font-family: 'FontAwesome';

			}

			&:checked + label:after {
				content:'';
				background:transparent;
			}
		}

		input.custom-checkbox:first-of-type {
			margin-left:0 !important;
		}
	}
}

.radio-button {
	display: inline-block;
	margin: 20px 0 20px;
    height: 49px;

	div:first-of-type {
		margin-left:0;
	}

	.radio {
		margin:10px;
		display: inline-block;

		label {
			margin:5px 0px;
			padding-left:0;
		}

		input {
			position:absolute;
			opacity: 0;
		}

		input + .radio-label:before {
			content: '';
			background-color:transparent;
			border-radius:100%;
			border:1px solid $mediumGray;
			display: inline-block;
			width: 22px;
			height: 22px;
			position:relative;
			margin-right: 10px;
			vertical-align: bottom;
			cursor:pointer;
		}

		input:checked + .radio-label:before {
			background-color:$cyan;
			padding:2px;
			border:1px solid $cyan;
			box-shadow: inset 0 0 0 3px white;

		}

		input:focus + .radio-label:before {
			outline: none;
			border-color:$cyan;
		}

		input:disabled + .radio-label:before {
			box-shadow:none;
			border-color:$lightGray;
			background-color:$lightGray;
		}
	}

	p {
		display: none;
	}

	&.warning {
		.radio {
			margin-bottom:0px;

			input + .radio-label:before {
				content: '';
				background-color:transparent;
				border-radius:100%;
				border:1px solid $orange;
				display: inline-block;
				width: 22px;
				height: 22px;
				position:relative;
				margin-right: 10px;
				vertical-align: bottom;
				cursor:pointer;
			}

			input:checked + .radio-label:before {
				background-color:$orange;
				padding:2px;
				border:1px solid $orange;
				box-shadow: inset 0 0 0 3px white;

			}

			input:focus + .radio-label:before {
				outline: none;
				border-color:$orange;
			}

			input:disabled + .radio-label:before {
				box-shadow:none;
				border-color:$orange;
				background-color:$orange;
			}

		}

		p {
			display: block;
			color: $orange;
			font-size: 13px;
			font-family: 'Open Sans Regular';
		}
	}

	&.error {
		.radio {
			margin-bottom:0px;

			input + .radio-label:before {
				content: '';
				background-color:transparent;
				border-radius:100%;
				border:1px solid $purple;
				display: inline-block;
				width: 22px;
				height: 22px;
				position:relative;
				margin-right: 10px;
				vertical-align: bottom;
				cursor:pointer;
			}

			input:checked + .radio-label:before {
				background-color:$purple;
				padding:2px;
				border:1px solid $purple;
				box-shadow: inset 0 0 0 3px white;

			}

			input:focus + .radio-label:before {
				outline: none;
				border-color:$purple;
			}

			input:disabled + .radio-label:before {
				box-shadow:none;
				border-color:$purple;
				background-color:$purple;
			}

		}

		p {
			display: block;
			color: $purple;
			font-size: 13px;
			font-family: 'Open Sans Regular';
		}
	}
}

//NAV TABS
.nav-tabs {
	border:none;

	li.tab {
		width: 50%;
		text-align:center;
		border:none;

		a {
			color:$darkGray;
			font-size:14px;
			font-family:'Open Sans Regular';
			padding:5px;
			border:none;
			top:3px;
			border-radius:0;
			background-color:$extraLightGray;
			margin:0;

			&:hover {
				background-color:$cyan;
				color: $white;
			}
		}
  
        &.active {

            a {
                top:0;
                border:none;
                border-top:3px solid $cyan !important;
                background-color:$lightGray;
                font-family: 'Open Sans Bold';

                &:hover {
                    background-color:$lightGray;
                    cursor:pointer;
                    border:none;
                }
            }
        }
	}
}

.tab-content {
	background-color:$lightGray;
	padding:5px 20px 1px;
	margin-bottom:20px;
	color:$darkGray;

	.tab-pane {

		&.fijo {
			height: 82px;
		}

		&.calculado {
			height: 92px;
		}
	}
}

//Modal
.modal-backdrop {
	opacity:0.5;
}

.modal {
	top:25%;
	left:20%;
	right:20%;
	width:auto;
	margin:0 auto;

	.modal-content {
		border-radius:2px;
		border:0 solid $white;
		box-shadow:none;
	}

	.modal-header {
		border-bottom:none;
		padding:15px 15px 0;
		display: block;

		.modal-title {
			display: inline-block !important;
			color:$azulYPF !important;
			font-family:'din-light';
			font-size:20px;
		}

		.button {
			display: inline-block;
		}
	}

	.modal-body {
		padding:0 15px;
		border-bottom:none;
		display:block;
	}

	.modal-footer {
		display:block;
		border-top:none;
	}
}


//Footer
footer {
	background-color:$white;
	padding:20px 15px;

	.version {
		display: inline-block;

		img {
			display: inline-block;
			padding-right:20px;
			margin-right:20px;
			border-right:1px solid $mediumGray;
		}

		p {
			font-size:14px;
			color:$mediumGray;
			vertical-align: bottom;
		}
	}

	.help {
	    display: inline-block;
	    position: relative;
	    float: right;
	    top: 2px;
	    
		p {
			font-size: 14px;
			color:$mediumGray;
			vertical-align: bottom;
		}
	}
}
