@charset "UTF-8";
@import "colors";
@import "fonts";
@import "dropdown-submenu";

body {
	background-color:$extraLightGray !important;
	font-family:'Open Sans Regular';
}

header {
	background-color:$azulYPF;

	.top {
		padding:15px 15px 0;
		
		img {
			display:inline-block;
			padding:0 20px 0 0;
			margin-right: 10px;
			border-right:1px solid $white;
		}

		h3 {
			position:relative;
			top:5px;
			color:$white;
			font-family: 'din-light';
			display:inline-block;

			span {
				font-family: 'din-bold';
				font-size: 21px;
			}
		}

		.user {
			position:absolute;
			right: 20px;
			top:10px;
			display: inline-block;
			color:$white;

			h5 {
				font-family: 'din-bold';
				display: inline-block;
				margin-right: 10px;
				color:$white;
			}

			p {
				font-family: 'Open Sans Light';
				margin-right: 10px;
			}

			span {
				font-size: 18px;
			}
		}
	}

	.navbar {
		padding:0 5px 0;
		margin-top:10px;
		min-height: auto;
		margin-bottom:0;
		border:none;

		.navbar-nav {
			li {
				list-style: none;

				a {
					color:$white;
					padding:10px 10px 15px;

					&:hover,
					&:focus {
						color:$darkGray;
						text-decoration: none;
						background-color:$extraLightGray;
					}

					&:active {
						background-color:$extraLightGray;
						color:$darkGray;
					}
				}

				ul {
					background-color:$extraLightGray;
					top:43px;
					width: 100%;
					border-top:none;
					border-bottom:1px solid $mediumGray;
					border-right:1px solid $lightGray;
					border-left:1px solid $lightGray;
					border-radius:1px;
					box-shadow:none;

					li {

						a {
							width: 100%;
							padding:10px;
							display: inline-block;
							color:$darkGray;
							border-top:1px solid $lightGray;

							&:hover {
								background-color:$azulYPF;
								color:$white;
							}
						}
					}
				}
			}
		}
	}
}
//Text-center
.text-center {
	text-align:center !important;
}

//Margin-top
.margin-top-0 {
	margin-top:0px !important;
}

.margin-top-10 {
	margin-top:10px !important;
}

.margin-top-15 {
	margin-top:15px !important;
}

.margin-top-20 {
	margin-top:20px !important;
}

.margin-top-25 {
	margin-top:25px !important;
}

.margin-top-30 {
	margin-top:30px !important;
}

.margin-top-50 {
	margin-top:50px !important;
}

//Margin-bottom
.margin-bottom-0 {
	margin-bottom:0px !important;
}

.margin-bottom-10 {
	margin-bottom:10px !important;
}

.margin-bottom-15 {
	margin-bottom:15px !important;
}

.margin-bottom-20 {
	margin-bottom:20px !important;
}

.margin-bottom-30 {
	margin-bottom:30px !important;
}

.margin-bottom-50 {
	margin-bottom:50px !important;
}


//Well
.well {
	display:inline-block;
	width:100%;
	margin:10px 0 10px;
	background-color:transparent;
	border-radius:2px;
	border:none;
	box-shadow:none;
	padding:0;
	

	.well-header {
		position:relative;
		
		h6 {
			display: inline-block;

			span {
				color:$orange;
			}
		}

		.well-add {
			display: inline-block;
		    position: absolute;
		    right: 0;

			a {
				text-transform:uppercase;
				font-family: 'Open Sans Semibold';
				font-size: 14px;

				&:hover,
				&:visited,
				&:focus {
					text-decoration: none;
					color: $mediumCyan;

					span {
						background-color: $mediumCyan;
					}
				}

				span {
					color: $white;
					background-color: $cyan;
					padding:6px 6px 5px 7px;
					margin-right: 0;
					border-radius:20px;
				}
			}
		}
	}

	.well-body {
		background-color:$lightGray;
		padding:10px 15px 0;
		margin-top:15px;

		.well-trash {
			display: inline-block;
		    position: absolute;
		    top:25px;

		    a {
				text-transform:uppercase;
				font-family: 'Open Sans Semibold';
				font-size: 12px;

				&:hover,
				&:visited,
				&:focus {
					text-decoration: none;

					span {
						background-color: $mediumPurple;
					}
				}

				span {
					color: $white;
					background-color: $purple;
					padding:5px 5px 4px 6px;
					margin-right: 0;
					border-radius:20px;
				}
			}
		}
	}
}

// Card
.card {
	margin-bottom:30px;
	width: 100%;

	.card-header {
		margin-bottom:10px;

		.card-title {
			h3 {
				display: inline-block;
				color:$azulYPF;
				font-family:'din-light';
				font-size:20px;
				
			}

			.add {
				display: inline-block;
			    position: absolute;
			    right: 15px;
			    top: 5px;

				a {
					color: $cyan;
					text-transform:uppercase;
					font-family: 'Open Sans Semibold';
					font-size: 14px;

					&:hover,
					&:visited,
					&:focus {
						text-decoration: none;
						color: $mediumCyan;

						span {
							background-color: $mediumCyan;
						}
					}

					span {
						color: $white;
						background-color: $cyan;
						padding:5px 6px 4px;
						margin-right: 10px;
						border-radius:15px;
					}
				}
				
			}
		}
	}

	.card-body {
		display:inline-block;
		background-color:$white;
		padding: 25px 20px 30px;
		margin-bottom:30px;
		width: 100%;

		h5 {
			color:$mediumCyan;
			font-family:'Open Sans Semibold';
			font-size:16px;
			margin:20px 0 15px;
		}

		h6 {
			color:$darkGray;
			font-family:'Open Sans Regular';
			font-size:14px;
		}

		&.transparent {
			background-color:transparent;
		}

	    p {
			color:$mediumGray;
			margin-bottom: 15px;
		}

		.add {
				display: inline-block;
			    position: absolute;
			    right: 0;
			    top: 0;

				a {
					color: $cyan;
					text-transform:uppercase;
					font-family: 'Open Sans Semibold';
					font-size: 12px;

					&:hover,
					&:visited,
					&:focus {
						text-decoration: none;
						color: $mediumCyan;

						span {
							background-color: $mediumCyan;
						}
					}

					span {
						color: $white;
						background-color: $cyan;
						padding:4px 5px 3px;
						margin-right: 0;
						border-radius:20px;
					}
				}
				
			}
	}	
}

// Titles
h1 {
	color:$darkGray;
	font-family:'din-light';
	font-size:40px;
	margin:15px 15px 30px 0;
	display:inline-block;

	span {
		font-family:'din-bold';
	}
}

h3 {
	display:inline-block;
	color:$azulYPF;
	font-family:'din-light';
	font-size:20px;
	margin-bottom:10px;
}

h4 {
	color:$cyan;
	font-family:'Open Sans Bold';
	font-size:16px;
	margin:0 0 10px;
}

h5 {
	color:$darkGray;
	font-family:'Open Sans Semibold';
	font-size:14px;
	margin:20px 0 5px;

	span {
		color:$orange;
	}
}



// STATE
.state {
	background-color:$white;
	text-align:center;
	padding:10px 5px;
	width:150px;
	margin:30px 0 0 10px;
    display: inline-block;
    position:absolute;
    right: 45px;

	h5 {
		display: inline-block;
		font-family: 'din-bold';
		font-size:16px;
		margin:0;
		padding:0 0 0 5px;
	}

	.circle {
		display:inline-block;
		border-radius:10px;
		position: relative;
    	top: 1px;
		width: 13px;
		height:13px;

		&.bg-gray {
			background-color:$darkGray;
		}

		&.bg-cyan {
			background-color:$cyan;
		}

		&.bg-green {
			background-color:$green;
		}

		&.bg-orange {
			background-color:$orange;
		}

		&.bg-purple {
			background-color:$purple;
		}
	}


}

//Texts 
p {
	font-size:14px;
	display:inline-block;
}


//Buttons
.btn {
	display:inline-block;
	color:$white;
	font-size:14px;
	vertical-align:inherit;
	font-family:'Open Sans SemiBold';
	text-transform:uppercase;
	text-decoration:none;
	margin:10px 2px 20px;
	padding:8px 32px 10px;
	border-radius:2px;
	border:1px solid transparent;
	background-color:transparent;

	&:active,
	&:focus,
	&:visited,
	&:hover {
		box-shadow:0px !important;
		outline: 0px !important;
		border: 1px solid transparent !important;
	}

	&.disabled {
		caret-color: $cyan;

		&:focus,
		&:hover {
			border:1px solid transparent !important;
		}
	}
}

	// Primary
.btn-primary {
	background-color:$cyan;

	&.disabled {
		background-color: $lightCyan;
		
		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color: $lightCyan !important;
		}
	}

	&:focus,
	&:active,
	&:visited,
	&:hover {
		background-color: $mediumCyan !important;
	}

}

.btn-ghost-primary {
	border:1px solid $mediumCyan;
	color:$mediumCyan;

	&.disabled {
		background-color:transparent !important;
		border:1px solid $lightCyan;
		color:$lightCyan;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color:transparent !important;
			border:1px solid $lightCyan !important;
			color:$lightCyan;
		}
	}

	&:hover,
	&:focus,
	&:active {
		border:1px solid transparent;
		background-color:$cyan !important;
		color:white;
	}

	&:visited {
		border:1px solid $mediumCyan;
		color:$mediumCyan;
	}
}

	// Success
.btn-success {
	background-color:$green;

	&.disabled {
		background-color:$lightGreen;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color: $lightGreen !important;
		}
	}

	&:focus,
	&:active,
	&:visited,
	&:hover {
		background-color: $mediumGreen !important;
	}
	
}

.btn-ghost-success {
	border:1px solid $green;
	color:$green;

	&.disabled {
		background-color:transparent !important;
		border:1px solid $lightGreen;
		color:$lightGreen;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color:transparent !important;
			border:1px solid $lightGreen !important;
			color:$lightGreen;
		}
	}

	&:hover,
	&:focus,
	&:active {
		border:1px solid transparent;
		background-color:$mediumGreen !important;
		color:white;
	}

	&:visited {
		border:1px solid $mediumGreen;
		color:$mediumGreen;
	}
}

	// Warning
.btn-warning {
	background-color:$orange;

	&.disabled {
		background-color:$lightOrange;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color: $lightOrange !important;
		}
	}

	&:focus,
	&:active,
	&:visited,
	&:hover {
		background-color: $mediumOrange !important;
	}
}

.btn-ghost-warning {
	border:1px solid $orange;
	color:$orange;

	&.disabled {
		background-color:transparent !important;
		border:1px solid $lightOrange;
		color:$lightOrange;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color:transparent !important;
			border:1px solid $lightOrange !important;
			color:$lightOrange;
		}
	}

	&:hover,
	&:focus,
	&:active {
		border:1px solid transparent;
		background-color:$mediumOrange !important;
		color:white;
	}

	&:visited {
		border:1px solid $mediumOrange;
		color:$mediumOrange;
	}
}

	// Danger
.btn-danger {
	background-color:$purple;

	&.disabled {
		background-color:$lightPurple;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color: $lightPurple !important;
		}
	}

	&:focus,
	&:active,
	&:visited,
	&:hover {
		background-color: $mediumPurple !important;
	}	
}

.btn-ghost-danger {
	border:1px solid $purple;
	color:$purple;

	&.disabled {
		background-color:transparent !important;
		border:1px solid $lightPurple;
		color:$lightPurple;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color:transparent !important;
			border:1px solid $lightPurple !important;
			color:$lightPurple;
		}
	}

	&:hover,
	&:focus,
	&:active {
		border:1px solid transparent;
		background-color:$mediumPurple !important;
		color:white;
	}

	&:visited {
		border:1px solid $mediumPurple;
		color:$mediumPurple;
	}
}

	// Neutral
.btn-neutral {
	background-color:$black;

	&:focus,
	&:active,
	&:visited,
	&:hover {
		background-color: $darkGray !important;
		color:white;
	}	

	&.disabled {
		background-color:$mediumGray;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color: $mediumGray !important;
		}
	}
}

.btn-ghost-neutral {
	border:1px solid $black;
	color:$black;
	outline:none;
	box-shadow:none;

	&:hover,
	&:focus,
	&:active {
		border:1px solid transparent;
		background-color:$darkGray !important;
		color:white;
	}

	&:visited {
		border:1px solid $black;
		color:$black;
	}

	&.disabled {
		background-color:transparent !important;
		border:1px solid $mediumGray;
		color:$mediumGray;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color:transparent !important;
			border:1px solid $mediumGray !important;
			color:$mediumGray;
		}

	}
}

// Alerts
.alert {
	display:block;
	width:100%;
	font-size:14px;
	color:$darkGray;
	margin:30px 0 10px;
	padding:15px;
	border-radius:0;
	line-height:1.3;

	button {
		text-shadow: none;
		opacity: 1;
	}

	p {
		color:$darkGray;

		strong {
			display: block;
			font-family: 'Open Sans Bold'
		}
	}

	
}

.alert-primary {
	border:1px solid $mediumCyan;
	background-color: $lightCyan;

	button {
		color:$mediumCyan;

		&:hover {
			color:$mediumCyan;
		}
	}
}

.alert-success {
	border:1px solid $mediumGreen;
	background-color: $lightGreen;

	button {
		color:$mediumGreen;
		
		&:hover {
			color:$mediumGreen;
		}
	}
}

.alert-warning {
	border:1px solid $orange;
	background-color: $lightOrange;

	button {
		color:$orange;

		&:hover {
			color:$orange;
		}
	}
}

.alert-danger {
	border:1px solid $purple;
	background-color: $lightPurple;

	button {
		color:$purple;

		&:hover {
			color:$purple;
		}
	}
}

//Tags
.tag {
	display:inline-block;
	border:1px solid $mediumGray;
	padding:5px 10px;
	border-radius:2px;
	margin:10px 5px 5px 0;
	width:auto;


	p {
		font-family: 'Open Sans Medium';
		color:$black;
	}

	.close {
		float: none;
	    font-size: 18px;
	    vertical-align: middle;
	    padding: 0 0 2px 15px;
	    outline: none;
	    color:$mediumGray;


	    &:hover {
	    	color:$black;
	    	opacity: 1.0;
	    }

	    &:active {
	    	color:$lightGray;
	    	opacity: 1.0;
	    }


	}
}

.icons {
	p {
		width: 100%;
		font-size:14px;

		span {
			display: inline-block;
			padding-right:10px;
			font-size:16px;
		}
	}
}



//Inputs

input::-ms-clear{
    display: none;
}

.input-group {
	display: block;
    margin:10px 0 50px;
    height: 30px;

    .fa {
    	position: relative;
    	padding-right:5px;
    	top: -23px;
    	float: right;
    	font-size: 16px;
    	color:$darkGray;
    }

	// Select with search
    .select2-container {
    	top:15px;
		
  		.select2-selection--single {

  			.select2-selection__rendered {
  				padding-left:0px;
  				font-size: 16px;
  				font-family: 'Open Sans Regular';
  			}
	  	}
  	}

  	

	.select2-container--default {

		&.select2-container--open {

  			.select2-selection--single {

  				.select2-selection__arrow {

  					b {
  						border-color:$darkGray transparent transparent transparent;
  						border-width: 5px 4px 4px 4px;
  					}
  				}
  			}
  		}

		
		.select2-selection--single {
			border-radius: 0;
	        border: none;
	        border-bottom: 0.5px solid $darkGray;
	        background-color: transparent;

	        .select2-selection__arrow {
	        	width: 10px;

	        	b {
	        		border-color:$darkGray transparent transparent transparent;
	        	}
	        }

			.select2-selection__rendered {
					line-height: 25px;

				&.texto-blanco {
					color:$white;
				}
			}
		}
	}

    select {
    	-webkit-appearance: none;
  		-moz-appearance: none;
  		-ms-appearance: none;
    	background-image:
    		linear-gradient(45deg, transparent 50%, $darkGray 50%),
    		linear-gradient(135deg, $darkGray 50%, transparent 50%),
    		linear-gradient(to right, transparent, transparent);
  		background-position:
    		calc(100% - 5px) calc(1em + 8px), 
    		calc(100% - 0px) calc(1em + 8px), 
    		calc(100% - 2.5em) 0;
  		background-size:
    		5px 5px,
   			5px 5px,
    		0 0;
  		background-repeat: no-repeat;

  		&::-ms-expand {
  			display:none;
  		}

  		&:invalid {
  			color:rgba(255,0,255,0.0);
  		}

  		option {
  			color:$darkGray;
  		}
    }

	input, select {
		border-radius:0;
		color: $black;
		font-size:16px;
		padding:15px 0 5px;
		display:block;
		border:none;
		border-bottom:0.5px solid $darkGray;
		width: 100%;
		background-color:transparent;
	
		&:focus {
			outline:none;
			border-bottom:1px solid $azulYPF;
		}

		&:disabled {
			border-bottom:0.5px solid $mediumGray;

			~ span.fa {
				color:$mediumGray;
			}

			~ label {
				color:$mediumGray;

				span {
					display:none;
					color:$mediumGray;
				}
			}
		}

		&:focus ~ label,
		&:valid ~ label,
		&.label-arriba {
			margin-top:25px;
			top:-30px;
			font-size:14px;
			color:$darkGray;
		}

		&:focus ~ p {
			display:block;
		}

		//Timepicker
		&.timepicker {
			box-shadow:none;
			height: auto;
		}
	}

	label, .label-abajo {
		display: inline-block;
		color:$darkGray;
		font-family: 'Open Sans Light';
		font-size:16px;
		position:absolute;
		left:0;
		top:15px;
		pointer-events:none;
		transition:0.15s ease-in-out all;
		-moz-transition:0.15s ease-in-out all;
		-webkit-transition:0.15s ease-in-out all;
		
		span {
			display: inline-block;
			color:$orange;
		}
	}

	p {
		display:none;
		font-size:12px;
		color:$darkGray;
		padding:2px 0 0;
		font-family: 'Open Sans Regular';
	}

	&.validated {

		.fa {
	    	color:$green;
	    }

		input {
			border-bottom:0.5px solid $green;
	
			&:focus ~ label,
			&:valid ~ label, {
				margin-top:25px;
				top:-30px;
				font-size:14px;
				color:$green;
			}

			&:focus ~ p {
				display:none;
			}
		}

		label {
			color:$green;
			font-family:'Open Sans Light';

			span {
				color:$green;
			}
		}

		p {
			display:none;
		}
	}

	&.error {

		.fa {
	    	color:$purple;
	    	font-size: 18px;
	    }

		input {
			border-bottom:0.5px solid $purple;
	
			&:focus ~ label,
			&:valid ~ label, {
				margin-top:25px;
				top:-30px;
				font-size:14px;
				color:$purple;
			}

			&:focus ~ p {
				color:$purple;
				display:block;
			}
		}

		label {
			color:$purple;
			font-family:'Open Sans Light';

			span {
				color:$purple;
			}
		}

		p {
			color:$purple;
			display:block;
		}
	}

	&.warning {

		.fa {
	    	color:$orange;
	    }

		input {
			border-bottom:0.5px solid $orange;
	
			&:focus ~ label,
			&:valid ~ label, {
				margin-top:25px;
				top:-30px;
				font-size:14px;
				color:$orange;
			}

			&:focus ~ p {
				color:$orange;
				display:block;
			}
		}

		label {
			color:$orange;
			font-family:'Open Sans Light';

			span {
				color:$orange;
			}
		}

		p {
			color:$orange;
			display:block;
		}
	}

}

//Controls
.controls {
	label {
		font-family: 'Open Sans Light';
		color:$darkGray;
	}

	.checkbox {
		margin-bottom:30px;

		input.custom-checkbox {
			position:absolute;
			opacity: 0;


			& + label {
				position:relative;
				cursor:pointer;
				padding:0;
				margin:10px;
			}

			& + label:first-of-type {
				position:relative;
				cursor:pointer;
				padding:0;
				margin:10px 10px 10px 0;
			}

			& + label:before {
				content:"";
				font-size: 14px;
				margin-right: 10px;
				display: inline-block;
				vertical-align: bottom;
				padding: 0 2.2px 20px;
				height: 24px;
				width: 22px;
				border:1px solid $mediumGray;
				background-color:transparent;
				border-radius:1px;
			}

			&:checked + label:before {
				color:$cyan;
				border:1.5px solid $cyan;
				content:"\f00c";
				font-family: 'FontAwesome';

			}

			&:checked + label:after {
				content:'';
				background:transparent;
			}
		}

		input.custom-checkbox:first-of-type {
			margin-left:0 !important;
		}
	}
}

.radio-button {
		display: inline-block;
		margin: 20px 0 20px;
    	height: 49px;

		div:first-of-type {
			margin-left:0;
		}

		.radio {
			margin:10px;
			display: inline-block;

			label {
				margin:5px 0px;
				padding-left:0;
			}

			input {
				position:absolute;
				opacity: 0;
			}

			input + .radio-label:before {
				content: '';
				background-color:transparent;
				border-radius:100%;
				border:1px solid $mediumGray;
				display: inline-block;
				width: 22px;
				height: 22px;
				position:relative;
				margin-right: 10px;
				vertical-align: bottom;
				cursor:pointer;
			}

			input:checked + .radio-label:before {
				background-color:$cyan;
				padding:2px;
				border:1px solid $cyan;
				box-shadow: inset 0 0 0 3px white;

			}

			input:focus + .radio-label:before {
				outline: none;
				border-color:$cyan;
			}

			input:disabled + .radio-label:before {
				box-shadow:none;
				border-color:$lightGray;
				background-color:$lightGray;
			}
		}
	}

.nav-tabs {
	border:none;

	li.tab {
		width: 50%;
		text-align:center;
		border:none;

		a {
			color:$darkGray;
			font-size:14px;
			font-family:'Open Sans Regular';
			padding:5px;
			border:none;
			top:3px;
			border-radius:0;
			background-color:$extraLightGray;
			margin:0;

			&:hover {
				background-color:$cyan;
			}

			&.active {
				top:0;
				border:none;
				border-top:3px solid $cyan !important;
				background-color:$lightGray;
				font-family: 'Open Sans Bold';

				&:hover {
					background-color:$lightGray;
					cursor:pointer;
					border:none;
				}
			}
		}

		
	}
}

.tab-content {
	background-color:$lightGray;
	padding:5px 20px 1px;
	margin-bottom:20px;
	color:$darkGray;

	.tab-pane {

		&.fijo {
			height: 82px;
		}

		&.calculado {
			height: 92px;
		}
	}
}


//Modal
.modal-backdrop {
	opacity:0.5;
}
.modal {
	top:25%;
	left:20%;
	right:20%;
	width:auto;
	margin:0 auto;

	.modal-content {
		border-radius:2px;
		border:0 solid $white;
		box-shadow:none;
	}

	.modal-header {
		border-bottom:none;
		padding:15px 15px 0;
		display: block;

		.modal-title {
			display: inline-block !important;
			color:$azulYPF !important;
			font-family:'din-light';
			font-size:20px;
		}

		.button {
			display: inline-block;
		}
	}

	.modal-body {
		padding:0 15px;
		border-bottom:none;
		display:block;

		
		.col-lg-6:first-of-type {
			padding-left: 0;
		}
	}

	.modal-footer {
		display:block;
		border-top:none;
	}
}


//Footer
footer {
	background-color:$white;
	padding:20px 15px;

	.version {
		display: inline-block;

		img {
			display: inline-block;
			padding-right:20px;
			margin-right:20px;
			border-right:1px solid $mediumGray;
		}

		p {
			font-size:14px;
			color:$mediumGray;
			vertical-align: bottom;
		}
	}

	.help {
		    display: inline-block;
		    position: relative;
		    float: right;
		    top: 2px;
		    
		p {
			font-size: 14px;
			color:$mediumGray;
			vertical-align: bottom;
		}
	}
}