@charset "UTF-8";
@import "colors";
@import "fonts";

body {
	background-color:$lightGray !important;
	font-family:'Open Sans Regular'
}

//Margin-top
.margin-top-0 {
	margin-top:0px;
}

.margin-top-10 {
	margin-top:10px;
}

.margin-top-15 {
	margin-top:15px;
}

.margin-top-20 {
	margin-top:20px;
}

.margin-top-25 {
	margin-top:25px;
}

.margin-top-30 {
	margin-top:30px;
}

.margin-top-50 {
	margin-top:50px;
}

//Margin-bottom
.margin-bottom-0 {
	margin-bottom:0px;
}

.margin-bottom-10 {
	margin-bottom:10px;
}

.margin-bottom-15 {
	margin-bottom:15px;
}

.margin-bottom-20 {
	margin-bottom:20px;
}

.margin-bottom-30 {
	margin-bottom:30px;
}

.margin-bottom-50 {
	margin-bottom:50px;
}

//Reset Padding
.padding-left-0 {
	padding-left:0;
}

.padding-right-0 {
	padding-right:0;
}

// Card
.card {
	margin-bottom:30px;
	width: 100%;

	.card-header {
		margin-bottom:10px;

		.card-title {
			h3 {
				color:$azulYPF;
				font-family:'din-light';
				font-size:20px;
				
			}
		}
	}

	.card-body {
		display:inline-block;
		background-color:$white;
		padding: 25px 20px 30px;
		margin-bottom:30px;
		width: 100%;

		&.transparent {
			background-color:transparent;
		}

	    p {
			color:$mediumGray;
			margin-bottom: 15px;
		}
	}	
}

// Titles
h1 {
	color:$darkGray;
	font-family:'din-bold';
	font-size:40px;
	margin:15px 15px 30px;

	span {
		font-family:'din-light';
	}
}

h3 {
	color:$azulYPF;
	font-family:'din-light';
	font-size:20px;
	margin-bottom:10px;
}

h4 {
	color:$cyan;
	font-family:'Open Sans Bold';
	font-size:16px;
	margin:0 0 10px;
}

h5 {
	color:$darkGray;
	font-family:'Open Sans Semibold';
	font-size:14px;
	margin:20px 0 5px;
}

//Texts 
p {
	font-size:14px;
	display:inline-block;
}


//Buttons
.btn {
	display:inline-block;
	color:$white;
	font-size:14px;
	font-family:'Open Sans Regular';
	text-transform:uppercase;
	text-decoration:none;
	margin:10px 2px 20px;
	padding:8px 32px;
	border-radius:2px;
	border:1px solid transparent;
	background-color:transparent;

	&:active,
	&:focus,
	&:visited,
	&:hover {
		box-shadow:0px !important;
		outline: 0px !important;
		border: 1px solid transparent !important;
	}

	&.disabled {
		caret-color: $cyan;

		&:focus,
		&:hover {
			border:1px solid transparent !important;
		}
	}
}

	// Primary
.btn-primary {
	background-color:$cyan;

	&.disabled {
		background-color: $lightCyan;
		
		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color: $lightCyan !important;
		}
	}

	&:focus,
	&:active,
	&:visited,
	&:hover {
		background-color: $mediumCyan !important;
	}

}

.btn-ghost-primary {
	border:1px solid $mediumCyan;
	color:$mediumCyan;

	&.disabled {
		background-color:transparent !important;
		border:1px solid $lightCyan;
		color:$lightCyan;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color:transparent !important;
			border:1px solid $lightCyan !important;
			color:$lightCyan;
		}
	}

	&:hover,
	&:focus,
	&:active {
		border:1px solid transparent;
		background-color:$cyan !important;
		color:white;
	}

	&:visited {
		border:1px solid $mediumCyan;
		color:$mediumCyan;
	}
}

	// Success
.btn-success {
	background-color:$green;

	&.disabled {
		background-color:$lightGreen;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color: $lightGreen !important;
		}
	}

	&:focus,
	&:active,
	&:visited,
	&:hover {
		background-color: $mediumGreen !important;
	}
	
}

.btn-ghost-success {
	border:1px solid $green;
	color:$green;

	&.disabled {
		background-color:transparent !important;
		border:1px solid $lightGreen;
		color:$lightGreen;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color:transparent !important;
			border:1px solid $lightGreen !important;
			color:$lightGreen;
		}
	}

	&:hover,
	&:focus,
	&:active {
		border:1px solid transparent;
		background-color:$mediumGreen !important;
		color:white;
	}

	&:visited {
		border:1px solid $mediumGreen;
		color:$mediumGreen;
	}
}

	// Warning
.btn-warning {
	background-color:$orange;

	&.disabled {
		background-color:$lightOrange;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color: $lightOrange !important;
		}
	}

	&:focus,
	&:active,
	&:visited,
	&:hover {
		background-color: $mediumOrange !important;
	}
}

.btn-ghost-warning {
	border:1px solid $orange;
	color:$orange;

	&.disabled {
		background-color:transparent !important;
		border:1px solid $lightOrange;
		color:$lightOrange;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color:transparent !important;
			border:1px solid $lightOrange !important;
			color:$lightOrange;
		}
	}

	&:hover,
	&:focus,
	&:active {
		border:1px solid transparent;
		background-color:$mediumOrange !important;
		color:white;
	}

	&:visited {
		border:1px solid $mediumOrange;
		color:$mediumOrange;
	}
}

	// Danger
.btn-danger {
	background-color:$purple;

	&.disabled {
		background-color:$lightPurple;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color: $lightPurple !important;
		}
	}

	&:focus,
	&:active,
	&:visited,
	&:hover {
		background-color: $mediumPurple !important;
	}	
}

.btn-ghost-danger {
	border:1px solid $purple;
	color:$purple;

	&.disabled {
		background-color:transparent !important;
		border:1px solid $lightPurple;
		color:$lightPurple;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color:transparent !important;
			border:1px solid $lightPurple !important;
			color:$lightPurple;
		}
	}

	&:hover,
	&:focus,
	&:active {
		border:1px solid transparent;
		background-color:$mediumPurple !important;
		color:white;
	}

	&:visited {
		border:1px solid $mediumPurple;
		color:$mediumPurple;
	}
}

	// Neutral
.btn-neutral {
	background-color:$black;

	&:focus,
	&:active,
	&:visited,
	&:hover {
		background-color: $darkGray !important;
		color:white;
	}	

	&.disabled {
		background-color:$mediumGray;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color: $mediumGray !important;
		}
	}
}

.btn-ghost-neutral {
	border:1px solid $black;
	color:$black;
	outline:none;
	box-shadow:none;

	&:hover,
	&:focus,
	&:active {
		border:1px solid transparent;
		background-color:$darkGray !important;
		color:white;
	}

	&:visited {
		border:1px solid $black;
		color:$black;
	}

	&.disabled {
		background-color:transparent !important;
		border:1px solid $mediumGray;
		color:$mediumGray;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			background-color:transparent !important;
			border:1px solid $mediumGray !important;
			color:$mediumGray;
		}

	}
}

// Alerts
.alert {
	display:block;
	width:100%;
	font-size:14px;
	color:$darkGray;
	margin:30px 0 10px;
	padding:15px;
	border-radius:0;
	line-height:1.3;

	button {
		text-shadow: none;
		opacity: 1;
	}

	p {
		color:$darkGray;

		strong {
			display: block;
			font-family: 'Open Sans Bold'
		}
	}

	
}

.alert-primary {
	border:1px solid $mediumCyan;
	background-color: $lightCyan;

	button {
		color:$mediumCyan;

		&:hover {
			color:$mediumCyan;
		}
	}
}

.alert-success {
	border:1px solid $mediumGreen;
	background-color: $lightGreen;

	button {
		color:$mediumGreen;
		
		&:hover {
			color:$mediumGreen;
		}
	}
}

.alert-warning {
	border:1px solid $orange;
	background-color: $lightOrange;

	button {
		color:$orange;

		&:hover {
			color:$orange;
		}
	}
}

.alert-danger {
	border:1px solid $purple;
	background-color: $lightPurple;

	button {
		color:$purple;

		&:hover {
			color:$purple;
		}
	}
}

//Tags
.tag {
	display:inline-block;
	border:1px solid $mediumGray;
	padding:5px 10px;
	border-radius:2px;
	margin:10px 5px 5px 0;
	width:auto;


	p {
		font-family: 'Open Sans Medium';
		color:$black;
	}

	.close {
		float: none;
	    font-size: 18px;
	    vertical-align: middle;
	    padding: 0 0 2px 15px;
	    outline: none;
	    color:$mediumGray;


	    &:hover {
	    	color:$black;
	    	opacity: 1.0;
	    }

	    &:active {
	    	color:$lightGray;
	    	opacity: 1.0;
	    }


	}
}

.icons {
	p {
		width: 100%;
		font-size:14px;

		span {
			display: inline-block;
			padding-right:10px;
			font-size:16px;
		}
	}
}



//Inputs

input::-ms-clear{
    display: none;
}

.input-group {
	display: block;
    margin:10px 0 50px;
    height: 30px;

    .fa {
    	position: relative;
    	padding-right:5px;
    	top: -23px;
    	float: right;
    	font-size: 16px;
    	color:$darkGray;
    }

	input {
		font-size:16px;
		padding:15px 0 5px;
		display:block;
		border:none;
		border-bottom:0.5px solid $darkGray;
		width: 100%;
		display: block;
		background-color:transparent;
	
		&:focus {
			outline:none;
			border-bottom:1px solid $azulYPF;
		}

		&:focus ~ label,
		&:valid ~ label, {
			margin-top:25px;
			top:-30px;
			font-size:14px;
			color:$darkGray;
		}

		&:focus ~ p {
			display:block;
		}
	}

	label {
		color:$darkGray;
		font-family: 'Open Sans Light';
		font-size:16px;
		position:absolute;
		top:15px;
		pointer-events:none;
		transition:0.15s ease-in-out all;
		-moz-transition:0.15s ease-in-out all;
		-webkit-transition:0.15s ease-in-out all;
		
		span {
			color:$orange;
		}
	}

	p {
		display:none;
		font-size:12px;
		color:$darkGray;
		padding:2px 0 0;
		font-family: 'Open Sans Regular';
	}

	&.validated {

		.fa {
	    	color:$green;
	    }

		input {
			border-bottom:0.5px solid $green;
	
			&:focus ~ label,
			&:valid ~ label, {
				margin-top:25px;
				top:-30px;
				font-size:14px;
				color:$green;
			}

			&:focus ~ p {
				display:none;
			}
		}

		label {
			color:$green;
			font-family:'Open Sans Light';

			span {
				color:$green;
			}
		}

		p {
			display:none;
		}
	}

	&.error {

		.fa {
	    	color:$purple;
	    	font-size: 18px;
	    }

		input {
			border-bottom:0.5px solid $purple;
	
			&:focus ~ label,
			&:valid ~ label, {
				margin-top:25px;
				top:-30px;
				font-size:14px;
				color:$purple;
			}

			&:focus ~ p {
				color:$purple;
				display:block;
			}
		}

		label {
			color:$purple;
			font-family:'Open Sans Light';

			span {
				color:$purple;
			}
		}

		p {
			color:$purple;
			display:block;
		}
	}

	&.warning {

		.fa {
	    	color:$orange;
	    }

		input {
			border-bottom:0.5px solid $orange;
	
			&:focus ~ label,
			&:valid ~ label, {
				margin-top:25px;
				top:-30px;
				font-size:14px;
				color:$orange;
			}

			&:focus ~ p {
				color:$orange;
				display:block;
			}
		}

		label {
			color:$orange;
			font-family:'Open Sans Light';

			span {
				color:$orange;
			}
		}

		p {
			color:$orange;
			display:block;
		}
	}

}

//Controls
.controls {
	label {
		font-family: 'Open Sans Light';
		color:$darkGray;
	}

	.checkbox {
		margin-bottom:30px;

		input.custom-checkbox {
			position:absolute;
			opacity: 0;


			& + label {
				position:relative;
				cursor:pointer;
				padding:0;
				margin:10px;
			}

			& + label:first-of-type {
				position:relative;
				cursor:pointer;
				padding:0;
				margin:10px 10px 10px 0;
			}

			& + label:before {
				content:"";
				font-size: 14px;
				margin-right: 10px;
				display: inline-block;
				vertical-align: bottom;
				padding: 0 2.2px 20px;
				height: 24px;
				width: 22px;
				border:1px solid $mediumGray;
				background-color:transparent;
				border-radius:1px;
			}

			&:checked + label:before {
				color:$cyan;
				border:1.5px solid $cyan;
				content:"\f00c";
				font-family: 'FontAwesome';

			}

			&:checked + label:after {
				content:'';
				background:transparent;
			}
		}

		input.custom-checkbox:first-of-type {
			margin-left:0 !important;
		}
	}

	.radio-button {

		div:first-of-type {
			margin-left:0;
		}

		.radio {
			margin:10px;
			display: inline-block;

			label {
				margin:5px 0px;
				padding-left:0;
			}

			input {
				position:absolute;
				opacity: 0;
			}

			input + .radio-label:before {
				content: '';
				background-color:transparent;
				border-radius:100%;
				border:1px solid $mediumGray;
				display: inline-block;
				width: 22px;
				height: 22px;
				position:relative;
				margin-right: 10px;
				vertical-align: bottom;
				cursor:pointer;
			}

			input:checked + .radio-label:before {
				background-color:$cyan;
				padding:2px;
				border:1px solid $cyan;
				box-shadow: inset 0 0 0 3px white;

			}

			input:focus + .radio-label:before {
				outline: none;
				border-color:$cyan;
			}

			input:disabled + .radio-label:before {
				box-shadow:none;
				border-color:$lightGray;
				background-color:$lightGray;
			}
		}
	}
}

.nav-tabs {
	border:none;

	li.tab {
		width: 50%;
		text-align:center;
		border:none;

		a {
			color:$darkGray;
			font-size:14px;
			font-family:'Open Sans Regular';
			padding:5px;
			border:none;
			top:3px;
			border-radius:0;
			background-color:$extraLightGray;
			margin:0;

			&:hover {
				background-color:$cyan;
			}
		}

		&.active {
			a {
				top:0;
				border:none;
				border-top:3px solid $cyan !important;
				background-color:$lightGray;
				font-family: 'Open Sans Bold';

				&:hover {
					background-color:$lightGray;
					cursor:pointer;
					border:none;
				}
			}
		}
	}
}

.tab-content {
	background-color:$lightGray;
	padding:10px;
	color:$darkGray;
	text-align:center;
}
