@charset "UTF-8";
@import "colors";
@import "fonts";

//JqGrid estilos generales
.ui-jqgrid {
    font-family: "Open Sans Regular";

    &.responsive {
        width: 100% !important;
    }

    .responsive {
        width: 100% !important;
        overflow:hidden;
    }

    &.ui-widget-content {
        border: none;
        background-image: none;
        background-color: transparent;

        a {
            font-family:'Open Sans Bold';
            color: $azulYPF;
            margin-left:10px;
            line-height: 1.5;
            vertical-align: middle;

            &:hover {
                text-decoration: none;
                font-size: 16px;
            }
        }
    }
    
    input,
    select,
    textarea,
    button {
        font-family: "Open Sans Regular";
        font-size: 14px;
        outline:none;
    }

    .ui-corner-all,
    .ui-corner-top,
    .ui-corner-right,
    .ui-corner-tr {
        border-top-right-radius: 0px;
    }

    .ui-corner-all,
    .ui-corner-top,
    .ui-corner-left,
    .ui-corner-tl {
        border-top-left-radius: 0px;
    }

    .ui-corner-all,
    .ui-corner-bottom,
    .ui-corner-right,
    .ui-corner-br {
        border-bottom-right-radius: 0px;
    }

    .ui-corner-all,
    .ui-corner-bottom,
    .ui-corner-left,
    .ui-corner-bl {
        border-bottom-left-radius: 0px;
    }

    //Encabezado de la tabla
    .ui-jqgrid-hdiv {
        background-color: $mediumGray;
    }

    .ui-jqgrid-htable { 
        th {
            padding: 13px 5px 13px 20px;
            
            &.ui-th-column {
                text-align: left;
            }

            div {
                color: $white;
                font-size: 16px;
                margin: inherit;
                line-height: normal;
            }
        }
    }

    .ui-jqgrid-hbox {
        padding-right: 0px;
    }

    .ui-th-column {
        th {

            &.ui-th-column {
                text-align: left;
            }
        }
    }

    .ui-jqgrid-sortable {
        height: auto;
    }

    //Celdas de la tabla
    tr {
        &.ui-row-ltr { 
            td {
                background-color: $white;
                border-right-width: 0px;
            }
        }

        &.jqgrow {
            td {
                font-size: 14px;
                padding: 15px 10px 15px 20px;
                border-bottom: 1px solid $lightGray;
                overflow: hidden;
                white-space: normal;
                height: auto;

                &:last-of-type {
                    text-align: center;
                }
            }
        }
    }

    //Columna de acciones
    .btn-acciones {
        cursor: pointer;
        margin:0 5px;
        font-size: 18px;
        text-align:center;
        vertical-align: middle;
        width: 20px;

        &.fa-plus {
            color: $white;
            background-color: $cyan;
            border-radius: 20px;
            padding:5px 1px 4px 1px;
            font-size: 11px;
        }

        &.fa-trash {
            color: $orange;
        }

        &.fa-close {
            color: $purple
        }
    }
    
    //Paginado de la tabla
    .ui-jqgrid-pager {

        .ui-pager-control {
            height: 40px;
        }

        .ui-pager-table {
            width: 100%;
            table-layout: fixed;
            height: 100%;
            color: black;
            font-size: 14px;
        }

        .ui-pg-input {
            font-size: 14px;
            margin: 0 -6px 0 0;
            line-height: inherit;
            border: none;
            padding: 1px 1px;
            border-radius: 0px;
            background-color: transparent;
            text-align: center;
        }

        .ui-pg-selbox {
            padding: 3px 0 5px;
            border-radius: 0px;
            font-size: inherit;
            height: auto;
            display: inline-block;
            border-bottom: 0.5px solid $darkGray;
        }

        .ui-widget-content {
            background-image: none;
            background-color: transparent;
        }

        .ui-pg-button { 
            .fa {
                color: black;
                margin:5px!important;
                background-color: transparent;
                padding: 2px 8px;
                font-size: 22px;
            }

            .ui-separator {
                display: none;
            }

            &:hover {
                padding: 0px 1px;
            }
        }

        .ui-paging-pager { 
            .cantidad-a-mostrar {
                margin: 0 15px;
            }
        }

        .ui-state-disabled {
            &:hover {
                padding: 0px 1px;
            }
        }

    }

    #prowed2_left,
    #prowed2_right {
        display: none;
    }

    #prowed2_center {
        text-align: left;

        .ui-paging-pager { 
            td:last-of-type {
                width: 100%;
                text-align: right;
            }
        }
    }

    //Colores de la tabla
    .txt-cyan {
        color: $mediumCyan;
    }

    .txt-green {
        color: $mediumGreen;
    }

    .txt-orange {
        color: $mediumOrange;
    }

    .txt-purple {
        color: $mediumPurple;
    }
}