@charset "UTF-8";
@import "colors";
@import "fonts";

//JqGrid estilos generales
.ui-jqgrid-jquery-ui {
    font-family: "Open Sans Regular";

    &.responsive {
        width: 100% !important;
    }

    .responsive {
        width: 100% !important;
        overflow:hidden;
    }

    &.ui-widget-content {
        border: none;
        background-image: none;
        background-color: transparent;

        a {
            font-family:'Open Sans Bold';
            color: $azulYPF;
            margin-left:10px;
            line-height: 1.5;

            &:hover {
                text-decoration: none;
            }
        }
    }

    input,
    select,
    textarea,
    button {
        font-family: "Open Sans Regular";
        font-size: 14px;
        outline:none;
    }

    .ui-corner-all,
    .ui-corner-top,
    .ui-corner-right,
    .ui-corner-tr {
        border-top-right-radius: 0px;
    }

    .ui-corner-all,
    .ui-corner-top,
    .ui-corner-left,
    .ui-corner-tl {
        border-top-left-radius: 0px;
    }

    .ui-corner-all,
    .ui-corner-bottom,
    .ui-corner-right,
    .ui-corner-br {
        border-bottom-right-radius: 0px;
    }

    .ui-corner-all,
    .ui-corner-bottom,
    .ui-corner-left,
    .ui-corner-bl {
        border-bottom-left-radius: 0px;
    }

    //Encabezado de la tabla

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    html .ui-button.ui-state-disabled:hover,
        html .ui-button.ui-state-disabled:active {
        border-width: 0px;
        font-weight: bold;
        background: $mediumGray;
    }

    .ui-jqgrid-htable { 
        .ui-jqgrid-labels th {
            padding: 13px 5px 13px 20px;
            &.ui-th-column {
                text-align: left;
            }
            div {
                margin: 0;
                white-space: normal;
                color: $white;
                font-size: 15px;
                margin: inherit;
                line-height: normal;
            }
        }
    }

    .ui-jqgrid-hbox {
        padding-right: 0px;
    }

    .ui-th-column {
        th {

            &.ui-th-column {
                text-align: left;
            }
        }
    }

    .ui-jqgrid-sortable {
        height: auto;
    }

    //Celdas de la tabla
    &.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr>td {
        border-bottom: 1px solid $lightGray;
    }

    .ui-jqgrid-bdiv {
        .ui-state-highlight,
        .ui-widget-content .ui-state-highlight,
        .ui-widget-header .ui-state-highlight,
        .ui-state-hover,
        .ui-widget-content .ui-state-hover,
        .ui-widget-header .ui-state-hover,
        .ui-state-focus,
        .ui-widget-content .ui-state-focus,
        .ui-widget-header .ui-state-focus,
        .ui-button:hover,
            .ui-button:focus {
            border: 1px solid $lightGray;
            background: $white;
            color: #333;
        }
        tr {
            &.ui-row-ltr { 
                &>td {
                    border-right-width: 0px;
                }
            }

            &.jqgrow {
                td {
                    font-size: 13px;
                    padding: 15px 10px 15px 20px;
                    overflow: hidden;
                    white-space: normal;
                    height: auto;

                    &:last-of-type {
                        text-align: center;
                    }
                }
            }
        }

    }

    //Columna de acciones
    .btn-acciones {
        cursor: pointer;
        margin:0 5px;
        font-size: 18px;
        text-align:center;
        vertical-align: middle;
        width: 20px;


        &.disabled {

        }

        &.fa-plus {
            color: $white;
            background-color: $cyan;
            border-radius: 20px;
            padding:5px 1px 4px 1px;
            font-size: 11px;
        }

        &.fa-trash {
            color: $orange;
        }

        &.fa-close {
            color: $purple

        }

        &.fa-clone {
            color: $darkGray

        }

        &.fa-clone:hover {
            color: $negro

        }

        &.fa-pencil {
            color: $darkGray

        }

        &.fa-pencil:hover {
            color: $negro

        }

        &.fa-eye {
            color: $darkGray

        }

        &.fa-eye:hover {
            color: $negro

        }
    }

    //Paginado de la tabla
    .ui-jqgrid-pager {

        background: transparent;

        .ui-icon {
            font: normal normal normal 22px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background: none;
            text-indent: 0;
            width: auto;
            height: auto;
            margin: 0 10px;
        }

        .ui-icon-seek-first {
            &:before {
                content: "\f100";
            }
        }

        .ui-icon-seek-prev {
            &:before {
                content: "\f104";
            }
        }

        .ui-icon-seek-next {
            &:before {
                content: "\f105";
            }
        }

        .ui-icon-seek-end {
            &:before {
                content: "\f101";
            }
        }
        
        .ui-pager-control {
            height: 40px;
        }

        .ui-pg-table {
            font-size: 14px;
            td {
                font-weight: normal;
                padding: 0px 1px;
            }
        }

        .ui-pg-input {
            font-size: 14px;
            margin: 0 -6px 0 0;
            line-height: inherit;
            border: none;
            padding: 1px 1px;
            border-radius: 0px;
            background-color: transparent;
            text-align: center;
        }

        .ui-pg-selbox {
            padding: 3px 18px 5px 0;
            border-radius: 0px;
            font-size: inherit;
            height: auto;
            display: inline-block;
            border-width: 0 0 0.5px 0;
            border-style: solid;
            border-color: $darkGray;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            background-image: linear-gradient(45deg, transparent 50%, #666666 50%), linear-gradient(135deg, #666666 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
            background-position: calc(100% - 5px) calc(1em - 4px), calc(100% - 0px) calc(1em - 4px), calc(100% - 2.5em) 0;
            background-size: 5px 5px, 5px 5px, 0 0;
            background-repeat: no-repeat;
            &::-ms-expand {
                display: none;
            }  
        }

        .ui-widget-content {
            background-color: transparent;
        }

        .ui-pg-button { 
            .fa {
                color: black;
                margin:5px!important;
                background-color: transparent;
                padding: 2px 8px;
                font-size: 22px;
            }

            .ui-separator {
                display: none;
            }

            &:hover {
                padding: 0px 1px;
            }
        }

        .ui-state-disabled {
            &:hover {
                padding: 0px 1px;
            }
        }

        .ui-jqgrid-pg-left,
        .ui-jqgrid-pg-right {
            display: none;
        }

        .ui-jqgrid-pg-center {
            text-align: left;
            .ui-pg-table { 
                td:last-of-type {
                    width: 100%;
                    text-align: right;
                }
            }
        }

        .ui-pg-button.ui-state-hover,
        .ui-pg-button:focus,
            .ui-pg-button:hover {
            border-color: transparent;
            background-color: transparent;
        }

    }

    //Colores de la tabla
    .txt-cyan {
        color: $mediumCyan;
    }

    .txt-green {
        color: $mediumGreen;
    }

    .txt-orange {
        color: $mediumOrange;
    }

    .txt-purple {
        color: $mediumPurple;
    }

    .txt-yellow {
        color: $yellow;
    }



}