/* line 4, ../sass/fine-uploader-styles.scss */
.qq-uploader-selector {
  min-height: 100px;
  color: #666666;
}
/* line 7, ../sass/fine-uploader-styles.scss */
.qq-uploader-selector .qq-upload-file-selector, .qq-uploader-selector .qq-edit-filename-selector {
  margin-left: 12px;
}
/* line 10, ../sass/fine-uploader-styles.scss */
.qq-uploader-selector .qq-edit-filename-selector {
  width: 85%;
}
/* line 12, ../sass/fine-uploader-styles.scss */
.qq-uploader-selector .qq-edit-filename-selector.qq-editing + .buttons {
  display: none;
}
/* line 16, ../sass/fine-uploader-styles.scss */
.qq-uploader-selector .qq-total-progress-bar-container-selector {
  display: none;
}
/* line 20, ../sass/fine-uploader-styles.scss */
.qq-uploader-selector .qq-upload-list-selector li {
  background: none !important;
}
/* line 23, ../sass/fine-uploader-styles.scss */
.qq-uploader-selector .qq-upload-list-selector .fa-file-o {
  margin-right: 15px;
}
/* line 26, ../sass/fine-uploader-styles.scss */
.qq-uploader-selector .qq-upload-list-selector .buttons {
  float: right;
}
/* line 30, ../sass/fine-uploader-styles.scss */
.qq-uploader-selector .empty-message {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
/* line 38, ../sass/fine-uploader-styles.scss */
.qq-uploader-selector .qq-upload-list-selector:empty + .empty-message {
  display: block;
}

/* line 43, ../sass/fine-uploader-styles.scss */
#well-add-button {
  background: none;
}
