@font-face {
  font-family: 'din-light';
  src: url("../fonts/Din/Light/din-light.eot");
  src: url("../fonts/Din/Light/din-light.eot?#iefix") format("embedded-opentype"), url("../fonts/Din/Light/din-light.woff") format("woff"), url("../fonts/Din/Light/din-light.ttf") format("truetype"), url("../fonts/Din/Light/din-light.svg#din-light") format("svg");
  font-weight: normal; }
@font-face {
  font-family: 'din-regular';
  src: url("../fonts/Din/Regular/din-regular.eot");
  src: url("../fonts/Din/Regular/din-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Din/Regular/din-regular.woff") format("woff"), url("../fonts/Din/Regular/din-regular.ttf") format("truetype"), url("../fonts/Din/Regular/din-regular.svg#din-regular") format("svg");
  font-weight: normal; }
@font-face {
  font-family: 'din-medium';
  src: url("../fonts/Din/Medium/din-medium.eot");
  src: url("../fonts/Din/Medium/din-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Din/Medium/din-medium.woff") format("woff"), url("../fonts/Din/Medium/din-medium.ttf") format("truetype"), url("../fonts/Din/Medium/din-medium.svg#din-medium") format("svg");
  font-weight: normal; }
@font-face {
  font-family: 'din-bold';
  src: url("../fonts/Din/Bold/din-bold.eot");
  src: url("../fonts/Din/Bold/din-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Din/Bold/din-bold.woff") format("woff"), url("../fonts/Din/Bold/din-bold.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'din-black';
  src: url("../fonts/Din/Black/din-black.eot");
  src: url("../fonts/Din/Black/din-black.eot?#iefix") format("embedded-opentype"), url("../fonts/Din/Black/din-black.woff") format("woff"), url("../fonts/Din/Black/din-black.ttf") format("truetype"), url("../fonts/Din/Black/din-black.svg#din-medium") format("svg");
  font-weight: normal; }
@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/Open Sans/Light/OpenSans-Light.eot");
  src: url("../fonts/Open Sans/Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Light/OpenSans-Light.woff") format("woff"), url("../fonts/Open Sans/Light/OpenSans-Light.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Open Sans Light Italic';
  src: url("../fonts/Open Sans/LightItalic/OpenSans-LightItalic.eot");
  src: url("../fonts/Open Sans/LightItalic/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/LightItalic/OpenSans-LightItalic.woff") format("woff"), url("../fonts/Open Sans/LightItalic/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/Open Sans/Regular/OpenSans-Regular.eot");
  src: url("../fonts/Open Sans/Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Regular/OpenSans-Regular.woff") format("woff"), url("../fonts/Open Sans/Regular/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Open Sans Italic';
  src: url("../fonts/Open Sans/Italic/OpenSans-Italic.eot");
  src: url("../fonts/Open Sans/Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Italic/OpenSans-Italic.woff") format("woff"), url("../fonts/Open Sans/Italic/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/Open Sans/Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Semibold/OpenSans-Semibold.woff") format("woff"), url("../fonts/Open Sans/Semibold/OpenSans-Semibold.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Open Sans Semibold Italic';
  src: url("../fonts/Open Sans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/SemiboldItalic/OpenSans-SemiboldItalic.woff") format("woff"), url("../fonts/Open Sans/SemiboldItalic/OpenSans-SemiboldItalic.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/Open Sans/Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Bold/OpenSans-Bold.woff") format("woff"), url("../fonts/Open Sans/Bold/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Open Sans Bold Italic';
  src: url("../fonts/Open Sans/BoldItalic/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/BoldItalic/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/Open Sans/BoldItalic/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Open Sans Extrabold';
  src: url("../fonts/Open Sans/ExtraBold/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/ExtraBold/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/Open Sans/ExtraBold/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Open Sans Extrabold Italic';
  src: url("../fonts/Open Sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/Open Sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: normal; }
.dropdown-submenu {
  position: relative; }
  .dropdown-submenu.pull-left {
    float: none; }
    .dropdown-submenu.pull-left .dropdown-menu {
      left: -100%;
      margin-left: 10px;
      -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px; }
  .dropdown-submenu:hover .dropdown-menu {
    display: block; }
  .dropdown-submenu:hover a:after {
    border-left-color: #ffffff; }
  .dropdown-submenu a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px; }
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px; }
    .dropdown-submenu .dropdown-menu.level-2 {
      top: 5px; }

body {
  background-color: #F4F4F4 !important;
  font-family: 'Open Sans Regular'; }

header {
  background-color: #005DB4; }
  header .top {
    padding: 15px 15px 0; }
    header .top img {
      display: inline-block;
      padding: 0 20px 0 0;
      margin-right: 10px;
      border-right: 1px solid #FFFFFF; }
    header .top h3 {
      position: relative;
      top: 5px;
      color: #FFFFFF;
      font-family: 'din-light';
      display: inline-block; }
      header .top h3 span {
        font-family: 'din-bold';
        font-size: 21px; }
    header .top .user {
      position: absolute;
      right: 20px;
      top: 10px;
      display: inline-block;
      color: #FFFFFF; }
      header .top .user h5 {
        font-family: 'din-bold';
        display: inline-block;
        margin-right: 10px;
        color: #FFFFFF; }
      header .top .user p {
        font-family: 'Open Sans Light';
        margin-right: 10px; }
      header .top .user span {
        font-size: 18px; }
  header .navbar {
    padding: 0 5px 0;
    margin-top: 10px;
    min-height: auto;
    margin-bottom: 0;
    border: none; }
    header .navbar .navbar-nav li {
      list-style: none; }
      header .navbar .navbar-nav li a {
        color: #FFFFFF;
        padding: 10px 10px 15px; }
        header .navbar .navbar-nav li a:hover, header .navbar .navbar-nav li a:focus {
          color: #666666;
          text-decoration: none;
          background-color: #F4F4F4; }
        header .navbar .navbar-nav li a:active {
          background-color: #F4F4F4;
          color: #666666; }
      header .navbar .navbar-nav li ul {
        background-color: #F4F4F4;
        top: 43px;
        width: 100%;
        border-top: none;
        border-bottom: 1px solid #AAAAAA;
        border-right: 1px solid #EAEAEA;
        border-left: 1px solid #EAEAEA;
        border-radius: 1px;
        box-shadow: none; }
        header .navbar .navbar-nav li ul li a {
          width: 100%;
          padding: 10px;
          display: inline-block;
          color: #666666;
          border-top: 1px solid #EAEAEA; }
          header .navbar .navbar-nav li ul li a:hover {
            background-color: #005DB4;
            color: #FFFFFF; }

.text-center {
  text-align: center !important; }

.margin-top-0 {
  margin-top: 0px !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-top-15 {
  margin-top: 15px !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-top-25 {
  margin-top: 25px !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.margin-top-50 {
  margin-top: 50px !important; }

.margin-bottom-0 {
  margin-bottom: 0px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.margin-bottom-15 {
  margin-bottom: 15px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.margin-bottom-50 {
  margin-bottom: 50px !important; }

.well {
  display: inline-block;
  width: 100%;
  margin: 10px 0 10px;
  background-color: transparent;
  border-radius: 2px;
  border: none;
  box-shadow: none;
  padding: 0; }
  .well .well-header {
    position: relative; }
    .well .well-header h6 {
      display: inline-block; }
      .well .well-header h6 span {
        color: #CA5D4E; }
    .well .well-header .well-add {
      display: inline-block;
      position: absolute;
      right: 0; }
      .well .well-header .well-add a {
        text-transform: uppercase;
        font-family: 'Open Sans Semibold';
        font-size: 14px; }
        .well .well-header .well-add a:hover, .well .well-header .well-add a:visited, .well .well-header .well-add a:focus {
          text-decoration: none;
          color: #28B1CA; }
          .well .well-header .well-add a:hover span, .well .well-header .well-add a:visited span, .well .well-header .well-add a:focus span {
            background-color: #28B1CA; }
        .well .well-header .well-add a span {
          color: #FFFFFF;
          background-color: #51CDD6;
          padding: 6px 6px 5px 7px;
          margin-right: 0;
          border-radius: 20px; }
  .well .well-body {
    background-color: #EAEAEA;
    padding: 10px 15px 0;
    margin-top: 15px; }
    .well .well-body .well-trash {
      display: inline-block;
      position: absolute;
      top: 25px; }
      .well .well-body .well-trash a {
        text-transform: uppercase;
        font-family: 'Open Sans Semibold';
        font-size: 12px; }
        .well .well-body .well-trash a:hover, .well .well-body .well-trash a:visited, .well .well-body .well-trash a:focus {
          text-decoration: none; }
          .well .well-body .well-trash a:hover span, .well .well-body .well-trash a:visited span, .well .well-body .well-trash a:focus span {
            background-color: #7F1F56; }
        .well .well-body .well-trash a span {
          color: #FFFFFF;
          background-color: #A41A67;
          padding: 5px 5px 4px 6px;
          margin-right: 0;
          border-radius: 20px; }

.card {
  margin-bottom: 30px;
  width: 100%; }
  .card .card-header {
    margin-bottom: 10px; }
    .card .card-header .card-title h3 {
      display: inline-block;
      color: #005DB4;
      font-family: 'din-light';
      font-size: 20px; }
    .card .card-header .card-title .add {
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 5px; }
      .card .card-header .card-title .add a {
        color: #51CDD6;
        text-transform: uppercase;
        font-family: 'Open Sans Semibold';
        font-size: 14px; }
        .card .card-header .card-title .add a:hover, .card .card-header .card-title .add a:visited, .card .card-header .card-title .add a:focus {
          text-decoration: none;
          color: #28B1CA; }
          .card .card-header .card-title .add a:hover span, .card .card-header .card-title .add a:visited span, .card .card-header .card-title .add a:focus span {
            background-color: #28B1CA; }
        .card .card-header .card-title .add a span {
          color: #FFFFFF;
          background-color: #51CDD6;
          padding: 5px 6px 4px;
          margin-right: 10px;
          border-radius: 15px; }
  .card .card-body {
    display: inline-block;
    background-color: #FFFFFF;
    padding: 25px 20px 30px;
    margin-bottom: 30px;
    width: 100%; }
    .card .card-body h5 {
      color: #28B1CA;
      font-family: 'Open Sans Semibold';
      font-size: 16px;
      margin: 20px 0 15px; }
    .card .card-body h6 {
      color: #666666;
      font-family: 'Open Sans Regular';
      font-size: 14px; }
    .card .card-body.transparent {
      background-color: transparent; }
    .card .card-body p {
      color: #AAAAAA;
      margin-bottom: 15px; }
    .card .card-body .add {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0; }
      .card .card-body .add a {
        color: #51CDD6;
        text-transform: uppercase;
        font-family: 'Open Sans Semibold';
        font-size: 12px; }
        .card .card-body .add a:hover, .card .card-body .add a:visited, .card .card-body .add a:focus {
          text-decoration: none;
          color: #28B1CA; }
          .card .card-body .add a:hover span, .card .card-body .add a:visited span, .card .card-body .add a:focus span {
            background-color: #28B1CA; }
        .card .card-body .add a span {
          color: #FFFFFF;
          background-color: #51CDD6;
          padding: 4px 5px 3px;
          margin-right: 0;
          border-radius: 20px; }

h1 {
  color: #666666;
  font-family: 'din-light';
  font-size: 40px;
  margin: 15px 15px 30px 0;
  display: inline-block; }
  h1 span {
    font-family: 'din-bold'; }

h3 {
  display: inline-block;
  color: #005DB4;
  font-family: 'din-light';
  font-size: 20px;
  margin-bottom: 10px; }

h4 {
  color: #51CDD6;
  font-family: 'Open Sans Bold';
  font-size: 16px;
  margin: 0 0 10px; }

h5 {
  color: #666666;
  font-family: 'Open Sans Semibold';
  font-size: 14px;
  margin: 20px 0 5px; }
  h5 span {
    color: #CA5D4E; }

.state {
  background-color: #FFFFFF;
  text-align: center;
  padding: 10px 5px;
  width: 150px;
  margin: 30px 0 0 10px;
  display: inline-block;
  position: absolute;
  right: 45px; }
  .state h5 {
    display: inline-block;
    font-family: 'din-bold';
    font-size: 16px;
    margin: 0;
    padding: 0 0 0 5px; }
  .state .circle {
    display: inline-block;
    border-radius: 10px;
    position: relative;
    top: 1px;
    width: 13px;
    height: 13px; }
    .state .circle.bg-gray {
      background-color: #666666; }
    .state .circle.bg-cyan {
      background-color: #51CDD6; }
    .state .circle.bg-green {
      background-color: #BFD518; }
    .state .circle.bg-orange {
      background-color: #CA5D4E; }
    .state .circle.bg-purple {
      background-color: #A41A67; }

p {
  font-size: 14px;
  display: inline-block; }

.btn {
  display: inline-block;
  color: #FFFFFF;
  font-size: 14px;
  vertical-align: inherit;
  font-family: 'Open Sans SemiBold';
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px 2px 20px;
  padding: 8px 32px 10px;
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: transparent; }
  .btn:active, .btn:focus, .btn:visited, .btn:hover {
    box-shadow: 0px !important;
    outline: 0px !important;
    border: 1px solid transparent !important; }
  .btn.disabled {
    caret-color: #51CDD6; }
    .btn.disabled:focus, .btn.disabled:hover {
      border: 1px solid transparent !important; }

.btn-primary {
  background-color: #51CDD6; }
  .btn-primary.disabled {
    background-color: #93C3D0; }
    .btn-primary.disabled:hover, .btn-primary.disabled:visited, .btn-primary.disabled:focus, .btn-primary.disabled:active {
      background-color: #93C3D0 !important; }
  .btn-primary:focus, .btn-primary:active, .btn-primary:visited, .btn-primary:hover {
    background-color: #28B1CA !important; }

.btn-ghost-primary {
  border: 1px solid #28B1CA;
  color: #28B1CA; }
  .btn-ghost-primary.disabled {
    background-color: transparent !important;
    border: 1px solid #93C3D0;
    color: #93C3D0; }
    .btn-ghost-primary.disabled:hover, .btn-ghost-primary.disabled:visited, .btn-ghost-primary.disabled:focus, .btn-ghost-primary.disabled:active {
      background-color: transparent !important;
      border: 1px solid #93C3D0 !important;
      color: #93C3D0; }
  .btn-ghost-primary:hover, .btn-ghost-primary:focus, .btn-ghost-primary:active {
    border: 1px solid transparent;
    background-color: #51CDD6 !important;
    color: white; }
  .btn-ghost-primary:visited {
    border: 1px solid #28B1CA;
    color: #28B1CA; }

.btn-success {
  background-color: #BFD518; }
  .btn-success.disabled {
    background-color: #D1DD98; }
    .btn-success.disabled:hover, .btn-success.disabled:visited, .btn-success.disabled:focus, .btn-success.disabled:active {
      background-color: #D1DD98 !important; }
  .btn-success:focus, .btn-success:active, .btn-success:visited, .btn-success:hover {
    background-color: #BAC72A !important; }

.btn-ghost-success {
  border: 1px solid #BFD518;
  color: #BFD518; }
  .btn-ghost-success.disabled {
    background-color: transparent !important;
    border: 1px solid #D1DD98;
    color: #D1DD98; }
    .btn-ghost-success.disabled:hover, .btn-ghost-success.disabled:visited, .btn-ghost-success.disabled:focus, .btn-ghost-success.disabled:active {
      background-color: transparent !important;
      border: 1px solid #D1DD98 !important;
      color: #D1DD98; }
  .btn-ghost-success:hover, .btn-ghost-success:focus, .btn-ghost-success:active {
    border: 1px solid transparent;
    background-color: #BAC72A !important;
    color: white; }
  .btn-ghost-success:visited {
    border: 1px solid #BAC72A;
    color: #BAC72A; }

.btn-warning {
  background-color: #CA5D4E; }
  .btn-warning.disabled {
    background-color: #DFA99E; }
    .btn-warning.disabled:hover, .btn-warning.disabled:visited, .btn-warning.disabled:focus, .btn-warning.disabled:active {
      background-color: #DFA99E !important; }
  .btn-warning:focus, .btn-warning:active, .btn-warning:visited, .btn-warning:hover {
    background-color: #BB3B29 !important; }

.btn-ghost-warning {
  border: 1px solid #CA5D4E;
  color: #CA5D4E; }
  .btn-ghost-warning.disabled {
    background-color: transparent !important;
    border: 1px solid #DFA99E;
    color: #DFA99E; }
    .btn-ghost-warning.disabled:hover, .btn-ghost-warning.disabled:visited, .btn-ghost-warning.disabled:focus, .btn-ghost-warning.disabled:active {
      background-color: transparent !important;
      border: 1px solid #DFA99E !important;
      color: #DFA99E; }
  .btn-ghost-warning:hover, .btn-ghost-warning:focus, .btn-ghost-warning:active {
    border: 1px solid transparent;
    background-color: #BB3B29 !important;
    color: white; }
  .btn-ghost-warning:visited {
    border: 1px solid #BB3B29;
    color: #BB3B29; }

.btn-danger {
  background-color: #A41A67; }
  .btn-danger.disabled {
    background-color: #D197A8; }
    .btn-danger.disabled:hover, .btn-danger.disabled:visited, .btn-danger.disabled:focus, .btn-danger.disabled:active {
      background-color: #D197A8 !important; }
  .btn-danger:focus, .btn-danger:active, .btn-danger:visited, .btn-danger:hover {
    background-color: #7F1F56 !important; }

.btn-ghost-danger {
  border: 1px solid #A41A67;
  color: #A41A67; }
  .btn-ghost-danger.disabled {
    background-color: transparent !important;
    border: 1px solid #D197A8;
    color: #D197A8; }
    .btn-ghost-danger.disabled:hover, .btn-ghost-danger.disabled:visited, .btn-ghost-danger.disabled:focus, .btn-ghost-danger.disabled:active {
      background-color: transparent !important;
      border: 1px solid #D197A8 !important;
      color: #D197A8; }
  .btn-ghost-danger:hover, .btn-ghost-danger:focus, .btn-ghost-danger:active {
    border: 1px solid transparent;
    background-color: #7F1F56 !important;
    color: white; }
  .btn-ghost-danger:visited {
    border: 1px solid #7F1F56;
    color: #7F1F56; }

.btn-neutral {
  background-color: #222222; }
  .btn-neutral:focus, .btn-neutral:active, .btn-neutral:visited, .btn-neutral:hover {
    background-color: #666666 !important;
    color: white; }
  .btn-neutral.disabled {
    background-color: #AAAAAA; }
    .btn-neutral.disabled:hover, .btn-neutral.disabled:visited, .btn-neutral.disabled:focus, .btn-neutral.disabled:active {
      background-color: #AAAAAA !important; }

.btn-ghost-neutral {
  border: 1px solid #222222;
  color: #222222;
  outline: none;
  box-shadow: none; }
  .btn-ghost-neutral:hover, .btn-ghost-neutral:focus, .btn-ghost-neutral:active {
    border: 1px solid transparent;
    background-color: #666666 !important;
    color: white; }
  .btn-ghost-neutral:visited {
    border: 1px solid #222222;
    color: #222222; }
  .btn-ghost-neutral.disabled {
    background-color: transparent !important;
    border: 1px solid #AAAAAA;
    color: #AAAAAA; }
    .btn-ghost-neutral.disabled:hover, .btn-ghost-neutral.disabled:visited, .btn-ghost-neutral.disabled:focus, .btn-ghost-neutral.disabled:active {
      background-color: transparent !important;
      border: 1px solid #AAAAAA !important;
      color: #AAAAAA; }

.alert {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #666666;
  margin: 30px 0 10px;
  padding: 15px;
  border-radius: 0;
  line-height: 1.3; }
  .alert button {
    text-shadow: none;
    opacity: 1; }
  .alert p {
    color: #666666; }
    .alert p strong {
      display: block;
      font-family: "Open Sans Bold"; }

.alert-primary {
  border: 1px solid #28B1CA;
  background-color: #93C3D0; }
  .alert-primary button {
    color: #28B1CA; }
    .alert-primary button:hover {
      color: #28B1CA; }

.alert-success {
  border: 1px solid #BAC72A;
  background-color: #D1DD98; }
  .alert-success button {
    color: #BAC72A; }
    .alert-success button:hover {
      color: #BAC72A; }

.alert-warning {
  border: 1px solid #CA5D4E;
  background-color: #DFA99E; }
  .alert-warning button {
    color: #CA5D4E; }
    .alert-warning button:hover {
      color: #CA5D4E; }

.alert-danger {
  border: 1px solid #A41A67;
  background-color: #D197A8; }
  .alert-danger button {
    color: #A41A67; }
    .alert-danger button:hover {
      color: #A41A67; }

.tag {
  display: inline-block;
  border: 1px solid #AAAAAA;
  padding: 5px 10px;
  border-radius: 2px;
  margin: 10px 5px 5px 0;
  width: auto; }
  .tag p {
    font-family: 'Open Sans Medium';
    color: #222222; }
  .tag .close {
    float: none;
    font-size: 18px;
    vertical-align: middle;
    padding: 0 0 2px 15px;
    outline: none;
    color: #AAAAAA; }
    .tag .close:hover {
      color: #222222;
      opacity: 1.0; }
    .tag .close:active {
      color: #EAEAEA;
      opacity: 1.0; }

.icons p {
  width: 100%;
  font-size: 14px; }
  .icons p span {
    display: inline-block;
    padding-right: 10px;
    font-size: 16px; }

input::-ms-clear {
  display: none; }

.input-group {
  display: block;
  margin: 10px 0 50px;
  height: 30px; }
  .input-group.autoheight {
    height: auto; }
  .input-group .fa {
    position: relative;
    padding-right: 5px;
    top: -23px;
    float: right;
    font-size: 16px;
    color: #666666; }
  .input-group .select2-container {
    top: 15px; }
    .input-group .select2-container .select2-selection--single .select2-selection__rendered {
      padding-left: 0px;
      font-size: 16px;
      font-family: 'Open Sans Regular'; }
  .input-group .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: #666666 transparent transparent transparent;
    border-width: 5px 4px 4px 4px; }
  .input-group .select2-container--default .select2-selection--single {
    border-radius: 0;
    border: none;
    border-bottom: 0.5px solid #666666;
    background-color: transparent; }
    .input-group .select2-container--default .select2-selection--single .select2-selection__arrow {
      width: 10px; }
      .input-group .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-color: #666666 transparent transparent transparent; }
    .input-group .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 25px; }
      .input-group .select2-container--default .select2-selection--single .select2-selection__rendered.texto-blanco {
        color: #FFFFFF; }
  .input-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #666666 50%), linear-gradient(135deg, #666666 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
    background-position: calc(100% - 5px) calc(1em + 8px), calc(100% - 0px) calc(1em + 8px), calc(100% - 2.5em) 0;
    background-size: 5px 5px, 5px 5px, 0 0;
    background-repeat: no-repeat; }
    .input-group select::-ms-expand {
      display: none; }
    .input-group select:invalid {
      color: rgba(255, 0, 255, 0); }
    .input-group select option {
      color: #666666; }
  .input-group input, .input-group select, .input-group textarea {
    border-radius: 0;
    color: #222222;
    font-size: 16px;
    padding: 15px 0 5px;
    display: block;
    border: none;
    border-bottom: 0.5px solid #666666;
    width: 100%;
    background-color: transparent; }
    .input-group input:focus, .input-group select:focus, .input-group textarea:focus {
      outline: none;
      border-bottom: 1px solid #005DB4; }
    .input-group input:disabled, .input-group select:disabled, .input-group textarea:disabled {
      border-bottom: 0.5px solid #AAAAAA; }
      .input-group input:disabled ~ span.fa, .input-group select:disabled ~ span.fa, .input-group textarea:disabled ~ span.fa {
        color: #AAAAAA; }
      .input-group input:disabled ~ label, .input-group select:disabled ~ label, .input-group textarea:disabled ~ label {
        color: #AAAAAA; }
        .input-group input:disabled ~ label span, .input-group select:disabled ~ label span, .input-group textarea:disabled ~ label span {
          display: none;
          color: #AAAAAA; }
    .input-group input:focus ~ label, .input-group input:valid ~ label, .input-group input.label-arriba, .input-group select:focus ~ label, .input-group select:valid ~ label, .input-group select.label-arriba, .input-group textarea:focus ~ label, .input-group textarea:valid ~ label, .input-group textarea.label-arriba {
      margin-top: 25px;
      top: -30px;
      font-size: 14px;
      color: #666666; }
    .input-group input:focus ~ p, .input-group select:focus ~ p, .input-group textarea:focus ~ p {
      display: block; }
    .input-group input.timepicker, .input-group select.timepicker, .input-group textarea.timepicker {
      box-shadow: none;
      height: auto; }
  .input-group textarea {
    resize: none; }
  .input-group label, .input-group .label-abajo {
    display: inline-block;
    color: #666666;
    font-family: 'Open Sans Light';
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 15px;
    pointer-events: none;
    transition: 0.15s ease-in-out all;
    -moz-transition: 0.15s ease-in-out all;
    -webkit-transition: 0.15s ease-in-out all; }
    .input-group label span, .input-group .label-abajo span {
      display: inline-block;
      color: #CA5D4E; }
  .input-group p {
    display: none;
    font-size: 12px;
    color: #666666;
    padding: 2px 0 0;
    font-family: 'Open Sans Regular'; }
  .input-group.validated .fa {
    color: #BFD518; }
  .input-group.validated input {
    border-bottom: 0.5px solid #BFD518; }
    .input-group.validated input:focus ~ label, .input-group.validated input:valid ~ label {
      margin-top: 25px;
      top: -30px;
      font-size: 14px;
      color: #BFD518; }
    .input-group.validated input:focus ~ p {
      display: none; }
  .input-group.validated label {
    color: #BFD518;
    font-family: 'Open Sans Light'; }
    .input-group.validated label span {
      color: #BFD518; }
  .input-group.validated p {
    display: none; }
  .input-group.error .fa {
    color: #A41A67;
    font-size: 18px; }
  .input-group.error input {
    border-bottom: 0.5px solid #A41A67; }
    .input-group.error input:focus ~ label, .input-group.error input:valid ~ label {
      margin-top: 25px;
      top: -30px;
      font-size: 14px;
      color: #A41A67; }
    .input-group.error input:focus ~ p {
      color: #A41A67;
      display: block; }
  .input-group.error label {
    color: #A41A67;
    font-family: 'Open Sans Light'; }
    .input-group.error label span {
      color: #A41A67; }
  .input-group.error p {
    color: #A41A67;
    display: block; }
  .input-group.warning .fa {
    color: #CA5D4E; }
  .input-group.warning input {
    border-bottom: 0.5px solid #CA5D4E; }
    .input-group.warning input:focus ~ label, .input-group.warning input:valid ~ label {
      margin-top: 25px;
      top: -30px;
      font-size: 14px;
      color: #CA5D4E; }
    .input-group.warning input:focus ~ p {
      color: #CA5D4E;
      display: block; }
  .input-group.warning label {
    color: #CA5D4E;
    font-family: 'Open Sans Light'; }
    .input-group.warning label span {
      color: #CA5D4E; }
  .input-group.warning p {
    color: #CA5D4E;
    display: block; }

.controls label {
  font-family: 'Open Sans Light';
  color: #666666; }
.controls .checkbox {
  margin-bottom: 30px; }
  .controls .checkbox input.custom-checkbox {
    position: absolute;
    opacity: 0; }
    .controls .checkbox input.custom-checkbox + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      margin: 10px; }
    .controls .checkbox input.custom-checkbox + label:first-of-type {
      position: relative;
      cursor: pointer;
      padding: 0;
      margin: 10px 10px 10px 0; }
    .controls .checkbox input.custom-checkbox + label:before {
      content: "";
      font-size: 14px;
      margin-right: 10px;
      display: inline-block;
      vertical-align: bottom;
      padding: 0 2.2px 20px;
      height: 24px;
      width: 22px;
      border: 1px solid #AAAAAA;
      background-color: transparent;
      border-radius: 1px; }
    .controls .checkbox input.custom-checkbox:checked + label:before {
      color: #51CDD6;
      border: 1.5px solid #51CDD6;
      content: "\f00c";
      font-family: 'FontAwesome'; }
    .controls .checkbox input.custom-checkbox:checked + label:after {
      content: '';
      background: transparent; }
  .controls .checkbox input.custom-checkbox:first-of-type {
    margin-left: 0 !important; }

.radio-button {
  display: inline-block;
  margin: 20px 0 20px;
  height: 49px; }
  .radio-button div:first-of-type {
    margin-left: 0; }
  .radio-button .radio {
    margin: 10px;
    display: inline-block; }
    .radio-button .radio label {
      margin: 5px 0px;
      padding-left: 0; }
    .radio-button .radio input {
      position: absolute;
      opacity: 0; }
    .radio-button .radio input + .radio-label:before {
      content: '';
      background-color: transparent;
      border-radius: 100%;
      border: 1px solid #AAAAAA;
      display: inline-block;
      width: 22px;
      height: 22px;
      position: relative;
      margin-right: 10px;
      vertical-align: bottom;
      cursor: pointer; }
    .radio-button .radio input:checked + .radio-label:before {
      background-color: #51CDD6;
      padding: 2px;
      border: 1px solid #51CDD6;
      box-shadow: inset 0 0 0 3px white; }
    .radio-button .radio input:focus + .radio-label:before {
      outline: none;
      border-color: #51CDD6; }
    .radio-button .radio input:disabled + .radio-label:before {
      box-shadow: none;
      border-color: #EAEAEA;
      background-color: #EAEAEA; }

.nav-tabs {
  border: none; }
  .nav-tabs li.tab {
    width: 50%;
    text-align: center;
    border: none; }
    .nav-tabs li.tab a {
      color: #666666;
      font-size: 14px;
      font-family: 'Open Sans Regular';
      padding: 5px;
      border: none;
      top: 3px;
      border-radius: 0;
      background-color: #F4F4F4;
      margin: 0; }
      .nav-tabs li.tab a:hover {
        background-color: #51CDD6; }
      .nav-tabs li.tab a.active {
        top: 0;
        border: none;
        border-top: 3px solid #51CDD6 !important;
        background-color: #EAEAEA;
        font-family: 'Open Sans Bold'; }
        .nav-tabs li.tab a.active:hover {
          background-color: #EAEAEA;
          cursor: pointer;
          border: none; }

.tab-content {
  background-color: #EAEAEA;
  padding: 5px 20px 1px;
  margin-bottom: 20px;
  color: #666666; }
  .tab-content .tab-pane.fijo {
    height: 82px; }
  .tab-content .tab-pane.calculado {
    height: 92px; }

.modal-backdrop {
  opacity: 0.5; }

.modal {
  top: 25%;
  left: 20%;
  right: 20%;
  width: auto;
  margin: 0 auto; }
  .modal .modal-content {
    border-radius: 2px;
    border: 0 solid #FFFFFF;
    box-shadow: none; }
  .modal .modal-header {
    border-bottom: none;
    padding: 15px 15px 0;
    display: block; }
    .modal .modal-header .modal-title {
      display: inline-block !important;
      color: #005DB4 !important;
      font-family: 'din-light';
      font-size: 20px; }
    .modal .modal-header .button {
      display: inline-block; }
  .modal .modal-body {
    padding: 0 15px;
    border-bottom: none;
    display: block; }
    .modal .modal-body .col-lg-6:first-of-type {
      padding-left: 0; }
  .modal .modal-footer {
    display: block;
    border-top: none; }

footer {
  background-color: #FFFFFF;
  padding: 20px 15px; }
  footer .version {
    display: inline-block; }
    footer .version img {
      display: inline-block;
      padding-right: 20px;
      margin-right: 20px;
      border-right: 1px solid #AAAAAA; }
    footer .version p {
      font-size: 14px;
      color: #AAAAAA;
      vertical-align: bottom; }
  footer .help {
    display: inline-block;
    position: relative;
    float: right;
    top: 2px; }
    footer .help p {
      font-size: 14px;
      color: #AAAAAA;
      vertical-align: bottom; }

.bootstrap-timepicker-widget .glyphicon {
  font-family: 'FontAwesome'; }
.bootstrap-timepicker-widget .glyphicon-chevron-down:before {
  content: "\f107"; }
.bootstrap-timepicker-widget .glyphicon-chevron-up:before {
  content: "\f106"; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none; }
  *:focus, *:active, *:hover,
  *:before:focus,
  *:before:active,
  *:before:hover,
  *:after:focus,
  *:after:active,
  *:after:hover {
    outline: none !important; }

.container-fluid {
  padding: 0 45px; }

.laytime h5 {
  margin: 0 0 20px !important; }
.laytime .col-lg-6 {
  padding-left: 0; }
.laytime .tab-content {
  text-align: inherit; }

.f-cost .calculator button {
  width: 100%;
  position: relative;
  top: 5px; }
.f-cost .no-results {
  margin: 55px 0 0;
  text-align: center;
  color: #AAAAAA !important; }
  .f-cost .no-results span {
    font-size: 52px;
    display: block; }
  .f-cost .no-results h3 {
    display: block;
    font-size: 36px;
    color: #AAAAAA;
    font-family: 'din-regular';
    margin: 10px 0 0; }
  .f-cost .no-results p {
    font-size: 16px;
    font-family: 'Open Sans Light'; }
.f-cost .results button {
  float: right; }
.f-cost .results .subtotals {
  background-color: #EAEAEA;
  padding: 5px 5px 0; }
  .f-cost .results .subtotals .item {
    display: inline-block;
    margin: 10px 30px 10px 10px; }
    .f-cost .results .subtotals .item h4 {
      font-size: 16px;
      color: #51CDD6;
      font-family: 'Open Sans Light';
      margin-bottom: 0; }
    .f-cost .results .subtotals .item h2 {
      font-size: 36px;
      color: #666666;
      font-family: 'din-bold'; }
      .f-cost .results .subtotals .item h2 span {
        font-family: 'din-light';
        color: #AAAAAA; }
.f-cost .results .total {
  margin-top: 10px;
  background-color: #666666;
  padding: 10px 15px 5px; }
  .f-cost .results .total .item h4 {
    font-size: 16px;
    font-family: 'Open Sans Light';
    color: #FFFFFF;
    margin-bottom: 0; }
  .f-cost .results .total .item h2 {
    font-size: 40px;
    color: #FFFFFF;
    font-family: 'din-bold'; }
    .f-cost .results .total .item h2 span {
      font-family: 'din-light'; }

.r-cost-coa .monto-v-rel {
  background-color: #EAEAEA;
  padding: 10px 15px; }
  .r-cost-coa .monto-v-rel .item {
    display: inline-block; }
    .r-cost-coa .monto-v-rel .item h4 {
      font-size: 16px;
      color: #51CDD6;
      font-family: 'Open Sans Light';
      margin-bottom: 0; }
    .r-cost-coa .monto-v-rel .item h2 {
      font-size: 32px;
      color: #666666;
      font-family: 'din-bold'; }
      .r-cost-coa .monto-v-rel .item h2 span {
        font-family: 'din-light';
        color: #AAAAAA; }
.r-cost-coa .saldo {
  background-color: #666666;
  padding: 10px 15px; }
  .r-cost-coa .saldo .item h4 {
    font-size: 16px;
    font-family: 'Open Sans Light';
    color: #FFFFFF;
    margin-bottom: 0; }
  .r-cost-coa .saldo .item h2 {
    font-size: 32px;
    color: #FFFFFF;
    font-family: 'din-bold'; }
    .r-cost-coa .saldo .item h2 span {
      font-family: 'din-light'; }

.ci-asociated .no-results {
  text-align: center; }
  .ci-asociated .no-results h3 {
    display: block;
    color: #AAAAAA;
    font-family: 'din-regular';
    font-size: 32px;
    width: 40%;
    margin: 10px auto 10px;
    line-height: 1.2; }
  .ci-asociated .no-results button:hover span {
    background-color: #FFFFFF;
    color: #51CDD6; }
  .ci-asociated .no-results button span {
    font-size: 12px;
    font-family: 'FontAwesome';
    color: #FFFFFF;
    background-color: #51CDD6;
    padding: 5px 6px 4px;
    margin-right: 10px;
    border-radius: 15px; }
.ci-asociated .results table {
  width: 100%;
  margin: 0 auto; }
  .ci-asociated .results table tr {
    border-bottom: 3px solid #FFFFFF; }
    .ci-asociated .results table tr td {
      background-color: #EAEAEA;
      margin-right: 50px;
      padding: 15px 0 15px 15px;
      color: #666666;
      font-size: 14px; }
      .ci-asociated .results table tr td span {
        font-family: 'Open Sans Bold'; }
      .ci-asociated .results table tr td a:hover {
        text-decoration: none; }
      .ci-asociated .results table tr td a span {
        font-size: 16px;
        font-family: 'FontAwesome';
        color: #666666;
        margin: 0 15px 0 0; }
        .ci-asociated .results table tr td a span.fa-trash {
          color: #A41A67; }
    .ci-asociated .results table tr td:first-of-type {
      font-family: 'Open Sans Bold';
      text-transform: uppercase; }
    .ci-asociated .results table tr td:last-of-type {
      padding-right: 5px;
      text-align: right;
      background-color: #EAEAEA; }

.final-buttons {
  width: 100%;
  border-top: 0.5px solid #AAAAAA;
  padding: 15px 0;
  text-align: right;
  margin: 0 auto; }

/*# sourceMappingURL=styles.css.map */
